In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.concat(pd.read_excel(r'C:\Users\Testing\ALL CENTRES-DATA 210122.xlsx', sheet_name=None), ignore_index=True)

In [4]:
print([l for l in df.columns])

['Centre', 'Season', 'Season Race Day', 'Date', 'NoR', 'RACE TIME', 'CUP', 'CLASSIFICATION', 'DISTANCE', 'Race No', 'NoH', 'Result', 'Horse No', 'Horse', 'Pedigree', 'Desc', 'Age', 'Trainer', 'Jockey', 'Wt', 'Al', 'Dr', 'Sh', 'Won By', 'Dist Win', 'Rtg', 'Odds', 'Time', 'TurfBee', 'BOL', 'Dina Thanthi', 'Experts', 'Media Man', 'S. Today', 'TRS', 'Telegraph', 'BNG', 'Telangana Today', 'Telangana Times', 'Andhra Jyothi', 'Asian Age', 'Times of India', 'The Hindu', 'Mumbai Mirror', 'Deccan Herald', 'Opening Odds', 'OOF', 'Latest Odds', 'LOF', 'Middle Odds', 'MOF', 'Final Odds', 'FOF', 'Odds Trend', 'BLR Tote Win', 'BLR Tote Win-Plc', 'BLR Tote SHP', 'BLR Tote SHP-Plc', 'BLR Tote THP', 'BLR Tote THP-Plc', 'HYD Tote Win', 'HYD Tote Win-Plc', 'HYD Tote SHP', 'HYD Tote SHP-Plc', 'HYD Tote THP', 'HYD Tote THP-Plc', 'KOL Tote Win', 'KOL  Tote Win-Plc', 'KOL  Tote SHP', 'KOL  Tote SHP-Plc', 'KOL Tote THP', 'KOL Tote THP-Plc', 'MYS Tote Win', 'MYS Tote Win-Plc', 'MYS Tote SHP', 'MYS Tote SHP-Plc', 'MYS Tote THP', 'MYS Tote THP-Plc', 'MUM Tote Win', 'MUM Tote Win-Plc', 'MUM Tote SHP', 'MUM Tote SHP-Plc', 'MUM Tote THP', 'MUM Tote THP-Plc', 'PUN Tote Win', 'PUN Tote Win-Plc', 'PUN Tote SHP', 'PUN Tote SHP-Plc', 'PUN Tote THP', 'PUN Tote THP-Plc', 'C Tote Win', 'C Tote Win-Plc', 'C Tote SHP', 'C Tote SHP-Plc', 'C Tote THP', 'C Tote THP-Plc', 'Unnamed: 96', 'Unnamed: 97', 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100']

In [5]:
df.drop(columns=[ 'Season Race Day', 'CUP', 'NoH', 'Pedigree', 'Desc', 'Wt', 'Al',  'Sh', 'Won By',
                 'Dist Win','Rtg', 'Odds', 'Time','BLR Tote Win', 'BLR Tote Win-Plc', 'BLR Tote SHP',
                 'BLR Tote SHP-Plc', 'BLR Tote THP', 'BLR Tote THP-Plc', 'HYD Tote Win', 'HYD Tote Win-Plc',
                 'HYD Tote SHP', 'HYD Tote SHP-Plc', 'HYD Tote THP', 'HYD Tote THP-Plc', 'KOL Tote Win',
                 'KOL  Tote Win-Plc', 'KOL  Tote SHP', 'KOL  Tote SHP-Plc', 'KOL Tote THP', 'KOL Tote THP-Plc',
                 'MYS Tote Win', 'MYS Tote Win-Plc', 'MYS Tote SHP', 'MYS Tote SHP-Plc', 'MYS Tote THP',
                 'MYS Tote THP-Plc', 'MUM Tote Win', 'MUM Tote Win-Plc', 'MUM Tote SHP', 'MUM Tote SHP-Plc',
                 'MUM Tote THP', 'MUM Tote THP-Plc', 'PUN Tote Win', 'PUN Tote Win-Plc', 'PUN Tote SHP',
                 'PUN Tote SHP-Plc', 'PUN Tote THP', 'PUN Tote THP-Plc', 'C Tote Win', 'C Tote Win-Plc',
                 'C Tote SHP', 'C Tote SHP-Plc', 'C Tote THP', 'C Tote THP-Plc', 'Unnamed: 96', 'Unnamed: 97',
                 'Unnamed: 98', 'Unnamed: 99', 'Unnamed: 100'], inplace=True)

In [6]:
df['Age'] = [x.strip('y') for x in df['Age']]
df['Age'] = pd.to_numeric(df['Age'])
df['Age'].unique()

array([ 4,  6,  5,  8,  3,  7,  2,  9, 11, 10, 12], dtype=int64)

In [7]:
df.rename(columns = {'CLASSIFICATION':'Classification', 'DISTANCE':'Distance', 'Opening Odds':'OPEN', 'Latest Odds':'LATEST',
                     'Middle Odds':'MIDDLE', 'Final Odds':'FINAL', 'OOF':'OO', 'LOF':'LO', 'MOF':'MO', 'FOF':'FO', 'Result':'Pl'
                    }, inplace = True)

In [8]:
df.columns

Index(['Centre', 'Season', 'Date', 'NoR', 'RACE TIME', 'Classification',
       'Distance', 'Race No', 'Pl', 'Horse No', 'Horse', 'Age', 'Trainer',
       'Jockey', 'Dr', 'TurfBee', 'BOL', 'Dina Thanthi', 'Experts',
       'Media Man', 'S. Today', 'TRS', 'Telegraph', 'BNG', 'Telangana Today',
       'Telangana Times', 'Andhra Jyothi', 'Asian Age', 'Times of India',
       'The Hindu', 'Mumbai Mirror', 'Deccan Herald', 'OPEN', 'OO', 'LATEST',
       'LO', 'MIDDLE', 'MO', 'FINAL', 'FO', 'Odds Trend'],
      dtype='object')

In [9]:
df['RACE TIME'].unique()

array([datetime.time(14, 45), datetime.time(15, 15),
       datetime.time(15, 45), datetime.time(16, 15),
       datetime.time(16, 45), datetime.time(17, 15),
       datetime.time(14, 15), datetime.time(13, 45),
       datetime.time(14, 20), datetime.time(14, 55),
       datetime.time(15, 30), datetime.time(16, 5), datetime.time(16, 40),
       datetime.time(13, 15), datetime.time(15, 20),
       datetime.time(15, 55), datetime.time(16, 30),
       datetime.time(17, 10), datetime.time(17, 50),
       datetime.time(18, 15), datetime.time(17, 45),
       datetime.time(13, 30), datetime.time(14, 0), datetime.time(14, 30),
       datetime.time(15, 0), datetime.time(16, 0), datetime.time(17, 0),
       datetime.time(17, 30), datetime.time(14, 35),
       datetime.time(15, 10), datetime.time(16, 20),
       datetime.time(16, 55), datetime.time(15, 5), datetime.time(15, 40),
       datetime.time(16, 50), datetime.time(17, 25), datetime.time(13, 0),
       datetime.time(13, 20), datetime.time(13, 55),
       datetime.time(12, 25), datetime.time(12, 55),
       datetime.time(13, 25), datetime.time(14, 25), datetime.time(17, 5),
       datetime.time(14, 40), datetime.time(15, 50),
       datetime.time(16, 25), datetime.time(15, 35),
       datetime.time(16, 10), datetime.time(13, 50),
       datetime.time(13, 35), datetime.time(13, 40),
       datetime.time(14, 50), datetime.time(15, 25),
       datetime.time(16, 35), '12:55', '13:25', datetime.time(12, 10),
       datetime.time(12, 40), datetime.time(13, 10),
       datetime.time(14, 10), datetime.time(12, 30),
       datetime.time(12, 45), datetime.time(14, 5), datetime.time(12, 0),
       datetime.time(12, 15), datetime.time(1, 15), datetime.time(1, 45),
       datetime.time(2, 15), datetime.time(2, 45), datetime.time(3, 15),
       datetime.time(3, 45), datetime.time(4, 15), datetime.time(4, 45),
       datetime.time(5, 15), datetime.time(18, 0), datetime.time(18, 30),
       datetime.time(19, 0), datetime.time(19, 30), datetime.time(20, 0),
       datetime.time(18, 45), datetime.time(19, 15),
       datetime.time(19, 45), datetime.time(20, 15),
       datetime.time(18, 20), datetime.time(18, 50),
       datetime.time(20, 30)], dtype=object)

In [10]:
df.Season.replace(190222, 'BW1819', inplace=True)
df.Dr.replace([np.nan,'-','3?', '2?', '6?', '1?', '4?', '5?', '10?', '8?', '9?',
       '7?', '14?', '12?', '11?', '13?', '5 h'], [0,0,3,2,6,1,4,5,10,8,9,7,14,12,11,13,5], inplace = True)
df.replace([' F1', 'F1 ', ' F2', 'F2 ', ' F3', 'F3 ', ' F4', 'F4 ', ' F5', 'F5 ', ' F6', 'F6 ', ' F7', 'F7 ', ' F8', 'F8 ', ' F9', 'F9 ', ' F10', 'F10 ', ' F11', 'F11 ', ' F12', 'F12 ', ' F13', 'F13 ', ' F14', 'F14 ', ' F15', 'F15 '], ['F1', 'F1', 'F2', 'F2', 'F3', 'F3', 'F4', 'F4', 'F5', 'F5', 'F6', 'F6', 'F7', 'F7', 'F8', 'F8', 'F9', 'F9', 'F10', 'F10', 'F11', 'F11', 'F12', 'F12', 'F13', 'F13', 'F14', 'F14', 'F15', 'F15'], inplace=True)
df.Pl.replace(['w', 'W', 'NC'], [0, 0, 0], inplace=True)

In [11]:
df.OPEN.replace(['NO',' '],[np.nan, np.nan],inplace=True)
df.OO.replace(['NO',np.nan],['F0', 'F0'],inplace=True)
df.LATEST.replace(['NO',' ','N0'],[np.nan, np.nan, np.nan],inplace=True)
df.LO.replace(['NO',np.nan],['F0', 'F0'],inplace=True)
df.MIDDLE.replace(['NO',' ','N0'],[np.nan, np.nan, np.nan],inplace=True)
df.MO.replace(['NO',np.nan,'F66'],['F0','F0', 'F0'],inplace=True)
df.FINAL.replace(['NO',' ','N0'],[np.nan, np.nan, np.nan],inplace=True)
df.FO.replace(['NO',np.nan,'F100'],['F0','F0', 'F0'],inplace=True)

In [12]:
df['TurfBee'].replace([' ','.','9-','f',1,' F',2,3,' T'], [np.nan,np.nan,np.nan,'F','F','F','S','T','T'], inplace=True)
df['BOL'].replace([' ','.','9-','f',1,' F',2,3,' T'], [np.nan,np.nan,np.nan,'F','F','F','S','T','T'], inplace=True)
df['Dina Thanthi'].replace([0,' ','.','9-','f',1,' F',2,3,' T'], [np.nan,np.nan,np.nan,np.nan,'F','F','F','S','T','T'], inplace=True)
df['Experts'].replace([0,' ','.','9-','f',1,' F',2,3,' T'], [np.nan,np.nan,np.nan,np.nan,'F','F','F','S','T','T'], inplace=True)
df['Media Man'].replace(['A','   ','  ',0,' ','.','9-','f',1,' F',2,3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','T','T'], inplace=True)
df['S. Today'].replace([4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['TRS'].replace([4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Telegraph'].replace([5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['BNG'].replace([5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Telangana Today'].replace([5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Telangana Times'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Andhra Jyothi'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Asian Age'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Times of India'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['The Hindu'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Mumbai Mirror'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)
df['Deccan Herald'].replace([6, 7, 8, 9, 10, 11, 12,5,4,'A','   ','  ',0,' ','.','9-','f',1,' F',2,' S',3,' T'], [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,'F','F','F','S','S','T','T'], inplace=True)

In [13]:
df['Horse'].unique()

array(['INKY BLACK ', 'SHEER MAGIC ', 'DESERT GILT ', ..., 'QUEENSHIP ',
       'MADELEINE ', 'CHUTZPAH '], dtype=object)

In [14]:
df['Distance'].value_counts()

1200    11761
1400     8934
1600     4402
1100     3247
1000     2194
2000      935
1800      698
2400      424
2800       56
2200       34
3000       24
3200        8
1500        5
Name: Distance, dtype: int64

In [15]:
df.Distance.replace(1500, 1600, inplace=True)

In [16]:
blrdf = df.loc[df['Centre']=='BLR']

In [17]:
blrdf

,Centre,Season,Date,NoR,RACE TIME,Classification,Distance,Race No,Pl,Horse No,Horse,Age,Trainer,Jockey,Dr,TurfBee,BOL,Dina Thanthi,Experts,Media Man,S. Today,TRS,Telegraph,BNG,Telangana Today,Telangana Times,Andhra Jyothi,Asian Age,Times of India,The Hindu,Mumbai Mirror,Deccan Herald,OPEN,OO,LATEST,LO,MIDDLE,MO,FINAL,FO,Odds Trend
0,BLR,BW18,181102,6,14:45:00,00 TO 20,1100,1,7,1,INKY BLACK,4,K P G Appu,Arshad Alam,1,NaN,NaN,NaN,S,S,F,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.00,F4,7.00,F4,6.75,F4,10.0,F8,I
1,BLR,BW18,181102,6,14:45:00,00 TO 20,1100,1,4,2,SHEER MAGIC,4,Azhar Ali,Md Akram,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.00,F7,12.00,F7,15.00,F8,7.0,F5,D
2,BLR,BW18,181102,6,14:45:00,00 TO 20,1100,1,3,3,DESERT GILT,6,F Sirajuddin,Antony Raj S,3,NaN,NaN,T,T,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,F2,4.00,F2,4.00,F2,3.6,F2,D
3,BLR,BW18,181102,6,14:45:00,00 TO 20,1100,1,5,4,PURITY,4,Arjun Mangalorkar,Mudassar Nazar,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,F8,10.00,F8,10.00,F7,8.0,F6,D
4,BLR,BW18,181102,6,14:45:00,00 TO 20,1100,1,2,5,TUDOR PRINCE,5,Aravind Ganapathy,A Imran Khan,2,F,F,F,F,F,S,F,NaN,NaN,F,NaN,NaN,NaN,F,NaN,NaN,NaN,3.25,F1,3.30,F1,3.50,F1,3.5,F3,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5810,BLR,BW19,200306,9,17:15:00,15 TO 35 (5 YRS OLD & UPWARD),1200,9,7,8,SOVIET UNION,9,V Narayana Gowda,K Sai Kiran,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,F10,8.00,F7,10.00,F10,15.0,F10,I
5811,BLR,BW19,200306,9,17:15:00,15 TO 35 (5 YRS OLD & UPWARD),1200,9,11,9,BELLA MAMMA,5,Mahmood Khan,V Naveen Kumar,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,F11,10.00,F11,10.00,F11,15.0,F11,I
5812,BLR,BW19,200306,9,17:15:00,15 TO 35 (5 YRS OLD & UPWARD),1200,9,5,10,GLORIOUS DAYS,5,S Inayathulla,V R Jagadeesh,5,NaN,F,F,NaN,F,F,S,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,4.50,F3,5.00,F4,6.50,F4,6.5,F4,I
5813,BLR,BW19,200306,9,17:15:00,15 TO 35 (5 YRS OLD & UPWARD),1200,9,2,11,PERFECT KING,9,Sharat Kumar,Arshad Alam,7,S,NaN,T,T,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,4.25,F4,3.25,F1,3.50,F2,4.5,F3,I
5814,BLR,BW19,200306,9,17:15:00,15 TO 35 (5 YRS OLD & UPWARD),1200,9,3,12,NERVA,5,Neil Darashah,Nazerul Alam,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00,F12,10.00,F12,10.00,F12,15.0,F12,I

In [18]:
paper = 'Asian Age'

In [19]:
paper_df = blrdf[['Season', 'Date', 'Race No', 'Pl', paper]].copy()
paper_df

     Season    Date  Race No  Pl Asian Age
0      BW18  181102        1   7       NaN
1      BW18  181102        1   4       NaN
2      BW18  181102        1   3       NaN
3      BW18  181102        1   5       NaN
4      BW18  181102        1   2       NaN
...     ...     ...      ...  ..       ...
5810   BW19  200306        9   7       NaN
5811   BW19  200306        9  11       NaN
5812   BW19  200306        9   5       NaN
5813   BW19  200306        9   2       NaN
5814   BW19  200306        9   3       NaN

[5815 rows x 5 columns]

In [20]:
if not paper_df[paper].isnull().all().all():
    paper_df['num_pred']=paper_df[paper].replace(['F','S','T'],[1,2,3])
else:
    paper_df['num_pred']=paper_df[paper]
paper_df.dropna(inplace=True)
paper_df['num_pred'] = paper_df['num_pred'].astype(int)
paper_df['check_res'] = list(zip(paper_df.num_pred, paper_df.Pl))
paper_df

     Season    Date  Race No  Pl Asian Age  num_pred check_res
745    BW18  181215        5   2         S         2    (2, 2)
746    BW18  181215        5   1         F         1    (1, 1)
1549   BW18  190208        5  11         S         2   (2, 11)

In [21]:
combo=[(1, 1),(1, 2),(1, 3),(2, 1),(2, 2),(2, 3),(3, 1),(3, 2),(3, 3)]
race_stats = paper_df.groupby(["Season","Date", "Race No", "check_res"], as_index=True).size().unstack(fill_value=0)
mis_col = [i for i in combo if i not in race_stats.columns]
for col in mis_col:
#     print(col)
    race_stats["{}".format(col)] = [0] * len(race_stats)
    
for n,col in enumerate(race_stats.columns):
    if type(col) is not tuple:
        print(tuple(map(int, col[1:-1].split(', '))))
        print(race_stats.columns[n])
        race_stats.rename(columns={col: tuple(map(int, col[1:-1].split(', ')))}, inplace=True)
# race_stats = race_stats[combo]
race_stats

(1, 2)
(1, 2)
(1, 3)
(1, 3)
(2, 1)
(2, 1)
(2, 3)
(2, 3)
(3, 1)
(3, 1)
(3, 2)
(3, 2)
(3, 3)
(3, 3)

check_res              (1, 1)  (2, 2)  (2, 11)  (1, 2)  (1, 3)  (2, 1)  \
Season Date   Race No
BW18   181215 5             1       1        0       0       0       0
       190208 5             0       0        1       0       0       0

check_res              (2, 3)  (3, 1)  (3, 2)  (3, 3)
Season Date   Race No
BW18   181215 5             0       0       0       0
       190208 5             0       0       0       0

In [22]:
race_stats.reset_index(inplace=True)

# race_stats[(1,1)].replace(1,'F/W', inplace=True)
race_stats[(2,1)].replace(1,2, inplace=True)
race_stats[(3,1)].replace(1,3, inplace=True)

race_stats['final']=race_stats[(1,1)] + race_stats[(2,1)] + race_stats[(3,1)]
race_stats['final'].replace([0,1,2,3],['L','F/W','S/W','T/W'], inplace=True)

race_stats

check_res,Season,Date,Race No,"(1, 1)","(2, 2)","(2, 11)","(1, 2)","(1, 3)","(2, 1)","(2, 3)","(3, 1)","(3, 2)","(3, 3)",final
0,BW18,181215,5,1,1,0,0,0,0,0,0,0,0,F/W
1,BW18,190208,5,0,0,1,0,0,0,0,0,0,0,L

In [23]:
for i in race_stats.columns:
    if type(i) is tuple:
        race_stats[i].replace([2,3,4,5],[1,1,1,1], inplace=True)

In [24]:
race_stats['one'] = [0] * len(race_stats)
race_stats['two'] = [0] * len(race_stats)
race_stats['three'] = [0] * len(race_stats)
for i in race_stats.columns:
    if i[0] == 3:
        race_stats['three'] = race_stats['three'] | race_stats[i[0],i[1]]
    elif i[0] == 2:
        race_stats['two'] = race_stats['two'] | race_stats[i[0],i[1]]
    elif i[0] == 1:
        race_stats['one'] = race_stats['one'] | race_stats[i[0],i[1]]

In [25]:
overall_media_race_stats= race_stats
overall_media_race_stats

check_res,Season,Date,Race No,"(1, 1)","(2, 2)","(2, 11)","(1, 2)","(1, 3)","(2, 1)","(2, 3)","(3, 1)","(3, 2)","(3, 3)",final,one,two,three
0,BW18,181215,5,1,1,0,0,0,0,0,0,0,0,F/W,1,1,0
1,BW18,190208,5,0,0,1,0,0,0,0,0,0,0,L,0,1,0

In [26]:
try: 
    print(round((overall_media_race_stats['final'].value_counts().get('T/W',0)/overall_media_race_stats['three'].value_counts().get(1,0))*100,2))
except:
    print(0)

0

In [27]:
race_stats['final'].value_counts(normalize=True)

L      0.5
F/W    0.5
Name: final, dtype: float64

In [28]:
from collections import defaultdict

In [29]:
media_list = ['TurfBee', 'BOL', 'Dina Thanthi', 'Experts', 'Media Man',
       'S. Today', 'TRS', 'Telegraph', 'BNG', 'Telangana Today',
       'Telangana Times', 'Andhra Jyothi', 'Asian Age', 'Times of India',
       'The Hindu', 'Mumbai Mirror', 'Deccan Herald']
dicts = defaultdict(dict)
for m in media_list:
    race=0
    for i in ['F', 'S', 'T']:
        temp = blrdf[blrdf[m]==i]
        if len(temp) == 0:
            # print(m)
            continue
        if len(temp) > race:
            dicts[m]['TR'] = len(temp)
            race = len(temp)
        dicts[m][i] = round(100*len(temp.loc[temp["Pl"]==1])/len(temp), 2)

media_df = pd.DataFrame.from_dict(dicts, 'index')
media_df

                  TR       F      S      T
TurfBee          533   33.96  20.53  13.85
BOL              545   31.12  20.92  14.53
Dina Thanthi     544   32.16  19.49  14.63
Experts          536   34.21  21.46  13.25
Media Man        534   33.96  18.61  10.67
S. Today         539   20.07  26.53  10.95
TRS              541   28.28  21.04  17.47
Telegraph        301   30.33  20.93  14.24
BNG                7   57.14   0.00  28.57
Telangana Today  110   36.36  10.00  10.19
Telangana Times    7   42.86  14.29  14.29
Asian Age          2  100.00   0.00    NaN
Times of India   523   33.27  22.44  23.53
The Hindu        113   36.28  20.54  15.15
Mumbai Mirror     38   31.58  26.32  10.53
Deccan Herald    296   33.56  22.97  16.84

In [30]:
media_df['T'].get('Andhra Jyothi', np.nan)

nan

In [31]:
dff = blrdf.loc[blrdf['Trainer']=='Arjun Mangalorkar']

In [32]:
edge_for_win = [round((dff.loc[dff['Pl'] == 1]['OPEN'].mean()*((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100)-(100 - ((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100))), 2),
                    round((dff.loc[dff['Pl'] == 1]['LATEST'].mean()*((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100)-(100 - ((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100))),2),
                    round((dff.loc[dff['Pl'] == 1]['MIDDLE'].mean()*((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100)-(100 - ((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100))),2),
                    round((dff.loc[dff['Pl'] == 1]['FINAL'].mean()*((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100)-(100 - ((len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100))),2)]

In [33]:
import math
edge_for_win = ['No wins' if math.isnan(x) else x for x in edge_for_win]

In [34]:
edge_for_win

[-29.99, -22.79, -27.9, -24.87]

In [35]:
(len(dff.loc[dff['Pl'] == 1]) / len(dff)) * 100

13.718411552346572

In [36]:
dff.loc[dff['Pl'] == 1]

,Centre,Season,Date,NoR,RACE TIME,Classification,Distance,Race No,Pl,Horse No,Horse,Age,Trainer,Jockey,Dr,TurfBee,BOL,Dina Thanthi,Experts,Media Man,S. Today,TRS,Telegraph,BNG,Telangana Today,Telangana Times,Andhra Jyothi,Asian Age,Times of India,The Hindu,Mumbai Mirror,Deccan Herald,OPEN,OO,LATEST,LO,MIDDLE,MO,FINAL,FO,Odds Trend
88,BLR,BW18,181103,7,15:45:00,(3 YRS OLD MAIDENS ONLY),1200,4,1,1,AIR COMMAND,3,Arjun Mangalorkar,S Zervan,1,T,T,NaN,T,NaN,S,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,F5,8.00,F4,7.00,F3,7.50,F3,D
167,BLR,BW18,181109,8,15:15:00,30 TO 50 ( 4 YRS OLD & UPWARD),1400,4,1,1,SETAGLOW,4,Arjun Mangalorkar,S Zervan,12,S,S,S,S,S,S,S,NaN,NaN,F,NaN,NaN,NaN,F,NaN,NaN,NaN,3.75,F2,3.50,F2,4.25,F2,4.25,F2,I
380,BLR,BW18,181130,7,14:45:00,15 TO 35 (4 YRS OLD & UPWARD),1600,2,1,1,CASEY,4,Arjun Mangalorkar,Y S Srinath,5,F,F,S,F,S,S,S,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,S,NaN,2.25,F1,2.60,F1,2.40,F1,2.70,F1,I
478,BLR,BW18,181201,8,14:45:00,15 TO 35,1200,3,1,8,SPANISH BEAUTY,3,Arjun Mangalorkar,Suraj Narredu,13,F,F,F,NaN,S,S,T,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,0.62,F1,0.60,F1,0.60,F1,0.55,F1,D
565,BLR,BW18,181207,8,14:45:00,15 TO 35,1100,3,1,2,ANGELS KISS,3,Arjun Mangalorkar,Antony Raj S,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.00,F7,20.00,F7,20.00,F7,25.00,F8,I
584,BLR,BW18,181207,8,15:15:00,4 YRS OLD & UPWARD,1200,4,1,9,PANAMA,4,Arjun Mangalorkar,A Sandesh,6,S,F,F,F,F,F,S,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,F,NaN,1.70,F1,1.75,F1,1.80,F1,1.80,F1,I
915,BLR,BW18,181228,7,17:15:00,15 TO 35,1200,7,1,1,ANGELS KISS,3,Arjun Mangalorkar,Y S Srinath,11,F,F,F,S,S,T,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.00,F3,4.00,F3,0.46,F3,3.50,F3,D
1068,BLR,BW18,190105,8,16:15:00,( 4 YRS OLD ONLY),2400,6,1,4,MEA CULPA,4,Arjun Mangalorkar,Neeraj Rawal,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00,F5,7.50,F5,7.00,F4,7.50,F4,I
1302,BLR,BW18,190125,8,15:15:00,30 TO 50,1600,4,1,9,CIEL ETOILE,4,Arjun Mangalorkar,S Zervan,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F0,NaN,F0,NaN,F0,NaN,F0,NaN
1368,BLR,BW18,190126,9,14:15:00,60 - ABOVE,1600,3,1,5,COURAGE,5,Arjun Mangalorkar,Robbie Downey,7,T,S,T,F,F,S,F,NaN,NaN,S,NaN,NaN,NaN,F,NaN,NaN,NaN,1.50,F1,1.40,F1,1.40,F1,1.30,F1,D
1495,BLR,BW18,190201,6,17:15:00,15 TO 35,1400,6,1,9,VAIL,4,Arjun Mangalorkar,Antony Raj S,1,NaN,NaN,F,S,F,NaN,T,NaN,NaN,S,NaN,NaN,NaN,F,NaN,NaN,NaN,1.40,F1,0.85,F1,0.80,F1,0.92,F1,I
1747,BLR,BW18,190222,9,15:15:00,(3 YRS OLD MAIDENS ONLY),1200,4,1,4,IMPAVID,3,Arjun Mangalorkar,A Sandesh,5,NaN,S,T,T,F,F,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.50,F2,2.70,F1,2.80,F2,2.75,F2,I
1874,BLR,BW18,190308,9,16:45:00,15 TO 35,1200,7,1,1,ARMIN,4,Arjun Mangalorkar,P Trevor,5,F,F,F,F,F,S,F,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,0.90,F1,0.85,F1,0.92,F1,0.88,F1,D
2066,BLR,BW18,190322,9,16:00:00,3 YRS OLD & UPWARD,1600,6,1,2,IMPAVID,3,Arjun Mangalorkar,A Sandesh,4,F,F,F,F,F,S,F,NaN,NaN,F,NaN,NaN,NaN,F,NaN,NaN,NaN,0.60,F1,0.70,F1,0.85,F1,0.83,F1,I
2568,BLR,BS19,190602,7,15:10:00,5 YRS OLD & UPWARD,1200,3,1,2,STANDOUT,5,Arjun Mangalorkar,S John,7,S,S,S,T,S,S,F,T,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,F,1.70,F1,1.70,F1,1.75,F1,1.50,F1,D
2583,BLR,BS19,190602,7,15:45:00,45 TO 65,1600,4,1,5,IMPAVID,3,Arjun Mangalorkar,A Sandesh,3,F,F,F,F,F,S,F,F,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,F,0.65,F1,0.60,F1,5.80,F1,5.80,F1,D
2647,BLR,BS19,190608,6,16:15:00,60 - ABOVE,1200,4,1,3,COURAGE,5,Arjun Mangalorkar,Suraj Narredu,11,NaN,S,S,S,S,T,F,F,NaN,NaN,NaN,NaN,NaN,F,S,NaN,S,3.60,F2,3.50,F2,4.00,F3,4.10,F3,I
2733,BLR,BS19,190609,7,16:55:00,3 YRS OLD MAIDENS ONLY,1400,6,1,8,KIRKWOOD,3,Arjun Mangalorkar,Suraj Narredu,1,F,NaN,F,F,F,T,T,F,NaN,NaN,NaN,NaN,NaN,F,F,S,NaN,1.50,F1,1.20,F1,1.10,F1,1.00,F1,D
2836,BLR,BS19,190616,8,14:30:00,3 YRS OLD MAIDENS ONLY,1200,2,1,4,ABIRA,3,Arjun Mangalorkar,Neeraj Rawal,3,T,F,S,F,S,F,F,NaN,NaN,F,NaN,NaN,NaN,F,NaN,NaN,F,1.50,F1,1.40,F1,1.30,F1,1.30,F1,D
2854,BLR,BS19,190616,8,15:30:00,30 TO 50 (4 YRS OLD& UPWARD),1200,4,1,4,AIR COMMAND,4,Arjun Mangalorkar,S John,4,F,S,T,F,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,NaN,S,NaN,NaN,F,3.50,F2,3.70,F2,3.75,F2,3.25,F2,D
3076,BLR,BS19,190629,8,15:30:00,5 YRS OLD & UPWARD,1200,4,1,11,FAIR WARNING,5,Arjun Mangalorkar,Antony Raj S,9,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,7.00,F6,7.00,F6,6.00,F6,8.00,F6,I
3125,BLR,BS19,190630,8,14:00:00,15 TO 35,1600,1,1,2,KIRKWOOD,3,Arjun Mangalorkar,S John,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.40,F3,2.30,F2,2.30,F2,2.30,F2,D
3221,BLR,BS19,190706,7,15:30:00,00 TO 20,1400,3,1,1,CHULA VISTA,4,Arjun Mangalorkar,S John,9,F,F,F,F,F,F,F,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,F,1.70,F1,1.60,F1,1.60,F1,1.50,F1,S
3342,BLR,BS19,190713,6,14:30:00,3 YRS OLD MAIDENS ONLY,1200,1,1,9,WINALL,3,Arjun Mangalorkar,A Sandesh,8,F,NaN,S,S,S,F,S,NaN,NaN,NaN,NaN,NaN,NaN,F,F,NaN,S,0.75,F1,0.70,F1,0.73,F1,0.70,F1,D
3403,BLR,BS19,190714,6,15:30:00,3 YRS OLD MAIDENS ONLY,1400,3,1,4,ON THE TROT,3,Arjun Mangalorkar,Suraj Narredu,4,F,T,T,S,S,NaN,T,F,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,F,4.75,F3,4.50,F3,4.60,F3,4.50,F3,D
3613,BLR,BS19,190721,9,17:50:00,3 YRS OLD MAIDENS ONLY,1200,9,1,11,FIND,6,Arjun Mangalorkar,Antony Raj S,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00,F5,8.00,F6,7.00,F4,8.00,F4,S
3720,BLR,BS19,190728,7,16:30:00,4 YRS OLD & UPWARD,1200,5,1,9,ANGELS KISS,4,Arjun Mangalorkar,Antony Raj S,7,NaN,NaN,NaN,S,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,8.50,F4,9.00,F5,9.00,F5,7.00,F5,D
3909,BLR,BS19,190808,6,15:30:00,30 TO 50,1200,5,1,1,ABIRA,3,Arjun Mangalorkar,S John,4,S,S,S,F,S,S,S,S,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,S,1.25,F1,1.20,F1,1.20,F1,1.30,F1,I
4103,BLR,BW19,191122,10,15:15:00,30 TO 50,1600,6,1,4,KIRKWOOD,3,Arjun Mangalorkar,S John,7,F,F,F,F,F,T,T,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,NaN,1.50,F1,1.90,F1,1.80,F1,1.90,F1,I
4159,BLR,BW19,191129,7,14:15:00,00 TO 20,1100,1,1,8,SIMONE,4,Arjun Mangalorkar,Ankit Yadav,11,NaN,NaN,T,F,S,S,F,S,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,T,6.50,F5,7.00,F5,7.00,F5,10.00,F5,I
4454,BLR,BW19,191213,7,16:45:00,15 TO 35 (4 YRS OLD & UPWARD),1100,6,1,4,SIMONE,4,Arjun Mangalorkar,S John,6,T,F,NaN,S,F,T,S,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,F,2.00,F1,2.50,F1,2.70,F1,2.60,F1,I
4559,BLR,BW19,191219,6,15:45:00,15 TO 35,2000,3,1,1,STAR AND GARTER,3,Arjun Mangalorkar,S John,6,F,F,F,F,F,S,F,F,NaN,NaN,NaN,NaN,NaN,F,NaN,NaN,F,1.10,F1,1.00,F1,0.95,F1,1.00,F1,D
5166,BLR,BW19,200126,9,14:15:00,(3 YRS OLD MAIDENS ONLY),1200,3,1,1,GENERAL PATTON,3,Arjun Mangalorkar,Suraj Narredu,6,S,T,F,S,F,S,F,T,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,T,1.70,F1,17.00,F1,1.60,F1,1.40,F1,D
5483,BLR,BW19,200215,7,14:15:00,(3 YRS OLD MAIDENS ONLY),1200,1,1,9,FLAMINGO ROAD,3,Arjun Mangalorkar,Y S Srinath,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.00,F4,15.00,F4,15.00,F4,15.00,F4,S
5568,BLR,BW19,200221,8,14:15:00,(3 YRS OLD MAIDENS ONLY),1200,2,1,9,PAPPARAZI,3,Arjun Mangalorkar,Antony Raj S,6,T,F,NaN,T,NaN,T,S,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S,4.50,F3,4.50,F3,5.00,F3,5.00,F3,I
5653,BLR,BW19,200227,8,14:45:00,(3 YRS OLD ONLY),1100,3,1,6,BALTIMORE,3,Arjun Mangalorkar,Imran Chisty,3,NaN,T,NaN,NaN,NaN,F,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.00,F5,10.00,F7,10.00,F7,7.00,F5,S
5691,BLR,BW19,200227,8,16:15:00,45 TO 65,1200,6,1,10,SPANISH BEAUTY,5,Arjun Mangalorkar,Antony Raj S,11,NaN,T,NaN,NaN,NaN,S,T,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,5.00,F3,4.50,F3,6.00,F5,5.00,F2,S
5775,BLR,BW19,200306,9,15:45:00,30 TO 50,1200,6,1,7,WINALL,4,Arjun Mangalorkar,Antony Raj S,6,NaN,NaN,T,NaN,F,NaN,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.50,F5,7.00,F4,7.00,F4,7.00,F3,I