In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)
data = pd.read_excel(r'C:\Users\Testing\Downloads\NEW METHOD 210805.xlsx')
data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance', }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y'],[0, 3, 5, 4, 6, 7, 8, 9, 2],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR'],[0,0,0,0], inplace=True)

# data['combined_data'] = list(zip(data.Age, data.Result))
# data['Dr53'] = ((data['combined_data']==(5,3)).replace([False, True], [0, 1]))*data['Dr']
# data['Dr54'] = ((data['combined_data']==(5,4)).replace([False, True], [0, 1]))*data['Dr']

# data['combined_data'] = list(zip(data.Dr, data.LBW))
# data['LBW2'] = ((data['Dr']>=10).replace([False, True], [0, 1]))*data['LBW']

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)

data = data.loc[(data['Distance']==1400) | (data['Distance']==1200) | (data['Distance']==1600)]

data.drop(columns=['Time'], inplace=True)
new = data['Venue ID'].str.split("=", n = 1, expand = True)
data['Venue ID'] = new[1]
data['Venue ID'] = data['Venue ID'].astype(int)
data['Venue Name'] = data['Venue ID'].replace([1,2,3,4,7,8,9,10,11], ['KOL', 'MUM', 'BLR', 'CHE', 'DEL', 'MYS', 'OOT', 'PUN', 'HYD'])

In [4]:
df = data
df

,Sr #,Date,Trainer,Season,Venue ID,Race No,Rtg,Class,Distance,Horse,Age,Wt,Jockey,Dr,Sh,Result,LBW,Odds,Penalty,Time in S,RunNo.,Venue Name
0,1,2019-05-18,Rajesh Narredu,BS19,3,1,NaN,T-M3y,1200,Animal Queen,3,55.0,Kiran Naidu,3,A,1,0.180,NaN,4.3,74.550,-1,BLR
1,2,2019-05-18,Aravind G,BS19,3,1,NaN,T-M3y,1200,Musterion,3,56.0,Darshan R N,8,A,2,0.180,NaN,4.3,74.580,-1,BLR
2,3,2019-05-18,S Padmanabhan,BS19,3,1,NaN,T-M3y,1200,Crack Of Dawn,3,54.5,Hindu Singh,1,A,3,3.480,NaN,4.3,75.130,-1,BLR
3,4,2019-05-18,S Dominic,BS19,3,1,NaN,T-M3y,1200,Renegade,3,56.0,Amyn Merchant,4,A,4,5.160,NaN,4.3,75.410,-1,BLR
4,5,2019-05-18,Prasanna Kumar,BS19,3,1,NaN,T-M3y,1200,Orogenesis,3,54.5,Antony Raj S,2,A,5,6.000,NaN,4.3,75.550,-1,BLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23006,23007,2020-01-31,N Ravinder Singh,HW20,11,109,20.0,V,1400,Shanu Shanu,4,56.0,NaN,6,A,6,8.472,NaN,3.9,88.939,-1,HYD
23007,23008,2020-01-31,Sreekant S,HW20,11,109,16.0,V,1400,Royal Avenger,6,55.5,NaN,9,A,7,8.562,NaN,3.9,88.954,-1,HYD
23008,23009,2020-01-31,L V R Deshmukh,HW20,11,109,25.0,V,1400,Minnelli,5,60.0,NaN,2,A,8,11.160,NaN,3.9,89.387,-1,HYD
23009,23010,2020-01-31,N Ravinder Singh,HW20,11,109,23.0,V,1400,Millennia,4,59.0,NaN,8,A,9,11.886,NaN,3.9,89.508,-1,HYD
23010,23011,2020-01-31,Sk Waseem Ahmed,HW20,11,109,25.0,V,1400,Felix Flame,4,60.0,NaN,7,A,10,12.150,NaN,3.9,89.552,-1,HYD

In [5]:
n = df.groupby(["Venue ID","Jockey","Result"], as_index=True).size().unstack(fill_value=0)
n.rename(columns={0:'NA', 1:"W", 2:"SHP", 3:"THP"}, inplace=True)
m = df.groupby(["Venue ID","Jockey"], as_index=True).size().to_frame()
Jockey_stats = pd.concat([n, m], axis=1)
Jockey_stats.rename(columns={0:'Total_Races', 1:"W", 2:"SHP", 3:"THP"}, inplace=True)
Jockey_stats["W%"]=((Jockey_stats["W"]/Jockey_stats['Total_Races'])*100).round(2)
Jockey_stats = Jockey_stats[['Total_Races','W','SHP','THP','W%']]
Jockey_stats

                            Total_Races   W  SHP  THP     W%
Venue ID Jockey
1        A Ashhad Asbar               3   0    1    0   0.00
         A Sandesh                   23   2    5    1   8.70
         Abhay Singh                  1   0    0    0   0.00
         Aditya Kr Jaiswal           38   0    2    5   0.00
         Afzal Khan                  42   1    0    4   2.38
...                                 ...  ..  ...  ...    ...
11       Surya Prakash              118  16    8   16  13.56
         T S Jodha                    6   0    0    2   0.00
         Trevor Patel                36   4    7   11  11.11
         Y S Srinath                  6   1    1    0  16.67
         Yash Narredu                 2   0    0    1   0.00

[578 rows x 5 columns]

In [6]:
Jockey_stats.loc[( 1,    'A Ashhad Asbar')]['W']>0

False

In [7]:
qualified_horses = df.loc[(df['Dr']>=10) & (df['Distance']==1200) & (df['LBW']<=0.4) & (df['Result']==2)][['Horse', 'Date', 'Season', 'Race No', 'Sr #', 'Trainer', 'Rtg', 'Class', 'Distance','Age',
 'Wt', 'Jockey', 'Dr', 'Sh', 'Result', 'LBW', 'Penalty', 'Time in S', 'RunNo.']]
qualified_horses.index = np.arange(1, len(qualified_horses) + 1)
qualified_horses

,Horse,Date,Season,Race No,Sr #,Trainer,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Penalty,Time in S,RunNo.
1,Millenium Glory,2019-07-30,KM19,30,2884,J E Mckeown,45.0,IV,1200,5,62.0,Hindu Singh,11,A,2,0.096,2.4,75.632000,-1
2,Royal Dancer,2019-08-11,HM19,55,3769,N Ravinder Singh,20.0,V 4y&o,1200,5,58.0,Akshay Kumar,10,A,2,0.378,4.8,76.360264,-1
3,Asteria,2019-10-16,HM19,181,7388,L D'silva,55.0,III 5y&o,1200,5,55.0,Akshay Kumar,10,A,2,0.270,5.0,75.323663,-1
4,Aliboxer,2020-02-05,MyW19,92,15108,Tejaswi P C,45.0,III 6y&o,1200,8,52.5,V R Jagadeesh,11,A,2,0.228,2.8,70.677000,-1
5,Frieze,2020-02-16,MU19,148,16179,Altaf Hussain,43.0,III 5y&o,1200,5,50.5,C S Jodha,12,A,2,0.312,3.9,71.335000,-1
6,Hidden Soldier,2020-02-21,BW19,165,16507,Narayana Gowda V,24.0,IV inf 5y&o,1200,9,55.0,Antony Raj S,12,A,2,0.300,3.3,74.570000,-1
7,Storm Flag,2020-11-20,CW20,20,18416,J Sebastian,78.0,II,1200,4,60.0,Yash Narredu,11,A,2,0.300,4.5,76.240000,-1
8,Agrami,2020-12-13,PU20,32,19869,Faisal A Abbas,38.0,IV 5y&o,1200,5,55.5,NaN,11,A,2,0.060,4.0,72.380000,-1
9,Platini,2021-01-21,CW20,93,22114,R Karthik,34.0,IV 6y&o,1200,6,55.0,NaN,14,A,2,0.300,3.0,74.930000,-1
10,Chuckit,2020-01-27,HW20,94,22613,N Ravinder Singh,45.0,IV,1200,4,60.0,NaN,10,A,2,0.060,3.8,72.461000,-1

In [8]:
qualifying_races = qualified_horses[["Date", "Season", "Race No"]]
qualifying_races

         Date Season  Race No
1  2019-07-30   KM19       30
2  2019-08-11   HM19       55
3  2019-10-16   HM19      181
4  2020-02-05  MyW19       92
5  2020-02-16   MU19      148
6  2020-02-21   BW19      165
7  2020-11-20   CW20       20
8  2020-12-13   PU20       32
9  2021-01-21   CW20       93
10 2020-01-27   HW20       94

In [9]:
qualifying_races_detailed = pd.merge(qualifying_races, df, on=["Date", "Season", "Race No"])
qualifying_races_detailed.set_index(["Date", "Season", "Race No"], inplace=True)
qualifying_races_detailed

                            Sr #                 Trainer  Venue ID   Rtg  \
Date       Season Race No
2019-07-30 KM19   30        2883             Vijay Singh         1  31.0
                  30        2884             J E Mckeown         1  45.0
                  30        2885           Sarfaraz Khan         1  21.0
                  30        2886                H S Bath         1  23.0
                  30        2887           Shyam S Habbu         1  39.0
...                          ...                     ...       ...   ...
2020-01-27 HW20   94       22617  Robin Reddy Kondakalla        11  26.0
                  94       22618              Sreekant S        11  36.0
                  94       22619            R H Sequeira        11  30.0
                  94       22620                 D Netto        11  26.0
                  94       22621            S S F Hassan        11  45.0

                          Class  Distance             Horse  Age    Wt  \
Date       Season Race No
2019-07-30 KM19   30         IV      1200   Diamond Harbour    4  55.0
                  30         IV      1200   Millenium Glory    5  62.0
                  30         IV      1200        Artificial    6  47.0
                  30         IV      1200   Mrs Willy Nilly    5  49.0
                  30         IV      1200          Bacaardi    6  59.0
...                         ...       ...               ...  ...   ...
2020-01-27 HW20   94         IV      1200         Farmville    6  50.5
                  94         IV      1200   Blazing Jupiter    5  55.5
                  94         IV      1200   Thrill Of Power    4  52.5
                  94         IV      1200  Beauty On Parade    4  50.5
                  94         IV      1200          Top Saga    5  58.5

                                      Jockey  Dr Sh  Result     LBW  \
Date       Season Race No
2019-07-30 KM19   30            Nikhil Naidu   5  A       1   0.096
                  30             Hindu Singh  11  A       2   0.096
                  30             Rupal Singh   9  S       3   0.342
                  30       Aditya Kr Jaiswal   3  A       4   1.038
                  30             Shezad Khan   2  A       5   1.812
...                                      ...  .. ..     ...     ...
2020-01-27 HW20   94                     NaN   2  A       6   7.176
                  94                     NaN   8  A       7   7.254
                  94                     NaN  11  A       8   9.018
                  94                     NaN   7  A       9  15.084
                  94                     NaN   3  A      10  19.944

                                          Odds  Penalty  Time in S  RunNo.  \
Date       Season Race No
2019-07-30 KM19   30       2019-01-02 00:00:00      2.4     75.616      -1
                  30       2019-01-06 00:00:00      2.4     75.632      -1
                  30       2019-02-13 00:00:00      2.4     75.673      -1
                  30       2019-01-10 00:00:00      2.4     75.789      -1
                  30       2019-02-11 00:00:00      2.4     75.918      -1
...                                        ...      ...        ...     ...
2020-01-27 HW20   94                       NaN      3.8     73.647      -1
                  94                       NaN      3.8     73.660      -1
                  94                       NaN      3.8     73.954      -1
                  94                       NaN      3.8     74.965      -1
                  94                       NaN      3.8     75.775      -1

                          Venue Name
Date       Season Race No
2019-07-30 KM19   30             KOL
                  30             KOL
                  30             KOL
                  30             KOL
                  30             KOL
...                              ...
2020-01-27 HW20   94             HYD
                  94             HYD
                  94             HYD
                  94             HYD
                  94             HYD

[119 rows x 19 columns]

In [37]:
for i in qualified_horses['Sr #']:
    df.loc[i-1,'RunNo.'] = 0

In [38]:
races_Q_horses = pd.merge(qualified_horses[['Horse']], df, on=["Horse"])
races_Q_horses

,Horse,Sr #,Date,Trainer,Season,Venue ID,Race No,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Odds,Penalty,Time in S,RunNo.,Venue Name
0,Millenium Glory,1658,2019-07-09,J E Mckeown,KM19,1,8,39.0,IV,1200,5,59.0,Hindu Singh,2,A,1,0.096,2019-04-13 00:00:00,2.0,75.467000,-1,KOL
1,Millenium Glory,2884,2019-07-30,J E Mckeown,KM19,1,30,45.0,IV,1200,5,62.0,Hindu Singh,11,A,2,0.096,2019-01-06 00:00:00,2.4,75.632000,0,KOL
2,Millenium Glory,5689,2019-09-18,J E Mckeown,KM19,1,84,49.0,III,1200,5,54.5,Hindu Singh,6,A,8,9.882,2019-02-11 00:00:00,1.7,75.048000,-1,KOL
3,Royal Dancer,3313,2019-08-05,N Ravinder Singh,HM19,11,48,20.0,V 5y&o,1400,5,57.5,Akshay Kumar,7,A,4,8.436,1900-01-01 12:00:00,5.0,90.956786,-1,HYD
4,Royal Dancer,3769,2019-08-11,N Ravinder Singh,HM19,11,55,20.0,V 4y&o,1200,5,58.0,Akshay Kumar,10,A,2,0.378,2021-05-01 00:00:00,4.8,76.360264,0,HYD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Chuckit,20578,2020-12-20,Mir Faiyaz Ali Khan,HW20,11,42,35.0,IV,1400,3,57.5,NaN,14,A,3,1.470,NaN,5.2,88.711000,-1,HYD
79,Chuckit,21142,2020-12-27,N Ravinder Singh,HW20,11,55,36.0,IV M3y&o,1400,3,60.0,NaN,1,A,3,0.936,NaN,5.9,89.135000,-1,HYD
80,Chuckit,21236,2021-01-06,N Ravinder Singh,HW20,11,64,37.0,IV M4y&o,1400,4,60.0,NaN,13,A,1,2.034,2021-01-06 00:00:00,4.9,86.578000,-1,HYD
81,Chuckit,22275,2021-01-24,N Ravinder Singh,HW20,11,90,45.0,IV,1400,4,60.0,NaN,8,A,3,3.642,NaN,4.0,86.234000,-1,HYD
82,Chuckit,22613,2020-01-27,N Ravinder Singh,HW20,11,94,45.0,IV,1200,4,60.0,NaN,10,A,2,0.060,NaN,3.8,72.461000,0,HYD

In [39]:
# Jockey_stats.loc[(races_Q_horses.loc[63+1, 'Venue ID'], races_Q_horses.loc[63+1, 'Jockey'])]
# races_Q_horses.loc[1+1, 'Jockey']

In [40]:
zerothindex = races_Q_horses.index[races_Q_horses['RunNo.'] == 0].tolist()
removed_horses = []
print(zerothindex)
for i in zerothindex:
    if (i+1 in races_Q_horses.index):
#         if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and races_Q_horses.loc[i+1, 'Dr']<10 and (races_Q_horses.loc[i+1, 'Date'] - races_Q_horses.loc[i, 'Date'] < datetime.timedelta(days=42))):
#             races_Q_horses.loc[i+1, 'RunNo.'] = 1
#         elif (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and (races_Q_horses.loc[i+1, 'Dr']>=10 or (races_Q_horses.loc[i+1, 'Date'] - races_Q_horses.loc[i, 'Date'] >= datetime.timedelta(days=42)))):
#             removed_horses.append(races_Q_horses.loc[i, 'Horse'])
#             races_Q_horses = races_Q_horses.loc[races_Q_horses['Horse'] != races_Q_horses.loc[i, 'Horse']]
        if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']):
                    races_Q_horses.loc[i+1, 'RunNo.'] = 1

[1, 4, 18, 35, 40, 52, 58, 63, 70, 82]

In [41]:
# races_Q_horses.loc[2, 'Date'] - races_Q_horses.loc[1, 'Date'] < datetime.timedelta(days=51)

In [42]:
TrackedRuns = races_Q_horses.loc[races_Q_horses['RunNo.']>=0]
# TrackedRuns.set_index(['Horse', 'Sr #'], inplace = True)
TrackedRuns

,Horse,Sr #,Date,Trainer,Season,Venue ID,Race No,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Odds,Penalty,Time in S,RunNo.,Venue Name
1,Millenium Glory,2884,2019-07-30,J E Mckeown,KM19,1,30,45.0,IV,1200,5,62.0,Hindu Singh,11,A,2,0.096,2019-01-06 00:00:00,2.4,75.632000,0,KOL
2,Millenium Glory,5689,2019-09-18,J E Mckeown,KM19,1,84,49.0,III,1200,5,54.5,Hindu Singh,6,A,8,9.882,2019-02-11 00:00:00,1.7,75.048000,1,KOL
4,Royal Dancer,3769,2019-08-11,N Ravinder Singh,HM19,11,55,20.0,V 4y&o,1200,5,58.0,Akshay Kumar,10,A,2,0.378,2021-05-01 00:00:00,4.8,76.360264,0,HYD
5,Royal Dancer,5473,2019-09-13,N Ravinder Singh,HM19,11,120,23.0,V 4y&o,1200,5,59.0,Akshay Kumar,7,A,6,2.574,2019-10-17 00:00:00,4.7,75.570821,1,HYD
18,Asteria,7388,2019-10-16,L D'silva,HM19,11,181,55.0,III 5y&o,1200,5,55.0,Akshay Kumar,10,A,2,0.270,2019-01-07 00:00:00,5.0,75.323663,0,HYD
19,Asteria,9016,2019-11-17,L D'silva,HW19,11,23,58.0,III 5y&o,1200,5,59.0,Akshay Kumar,3,A,1,0.960,2019-01-02 00:00:00,3.8,73.254573,1,HYD
35,Aliboxer,15108,2020-02-05,Tejaswi P C,MyW19,8,92,45.0,III 6y&o,1200,8,52.5,V R Jagadeesh,11,A,2,0.228,2020-04-11 00:00:00,2.8,70.677000,0,MYS
36,Aliboxer,19271,2020-12-02,Dinesh Pujar,MyW20,8,26,44.0,IV 5y&o,1200,8,61.0,Chethan Gowda,5,A,3,3.378,1900-01-03 18:00:00,3.1,73.251000,1,MYS
40,Frieze,16179,2020-02-16,Altaf Hussain,MU19,2,148,43.0,III 5y&o,1200,5,50.5,C S Jodha,12,A,2,0.312,2020-02-22 00:00:00,3.9,71.335000,0,MUM
41,Frieze,19218,2020-12-01,Javed Khan,KW20,1,11,51.0,III,1200,5,51.0,Sujit Kr Paswan,1,A,5,4.398,NaN,1.9,73.679000,1,KOL
52,Hidden Soldier,16507,2020-02-21,Narayana Gowda V,BW19,3,165,24.0,IV inf 5y&o,1200,9,55.0,Antony Raj S,12,A,2,0.300,NaN,3.3,74.570000,0,BLR
53,Hidden Soldier,17115,2020-02-27,Narayana Gowda V,BW19,3,173,28.0,IV inf 5y&o,1400,9,57.5,K Sai Kiran,8,A,6,5.040,NaN,2.9,87.530000,1,BLR
58,Storm Flag,18416,2020-11-20,J Sebastian,CW20,4,20,78.0,II,1200,4,60.0,Yash Narredu,11,A,2,0.300,NaN,4.5,76.240000,0,CHE
59,Storm Flag,20316,2020-12-17,J Sebastian,CW20,4,51,82.0,II,1200,4,59.0,NaN,12,A,3,-57.420,2020-01-02 00:00:00,4.0,63.860000,1,CHE
63,Agrami,19869,2020-12-13,Faisal A Abbas,PU20,10,32,38.0,IV 5y&o,1200,5,55.5,NaN,11,A,2,0.060,--,4.0,72.380000,0,PUN
64,Agrami,21033,2020-12-27,Faisal A Abbas,PU20,10,57,41.0,III 5y&o,1200,5,48.0,NaN,5,A,4,2.640,2020-01-05 00:00:00,4.0,71.236000,1,PUN
70,Platini,22114,2021-01-21,R Karthik,CW20,4,93,34.0,IV 6y&o,1200,6,55.0,NaN,14,A,2,0.300,2021-01-10 00:00:00,3.0,74.930000,0,CHE
82,Chuckit,22613,2020-01-27,N Ravinder Singh,HW20,11,94,45.0,IV,1200,4,60.0,NaN,10,A,2,0.060,NaN,3.8,72.461000,0,HYD

In [43]:
to_drop = []
for i in TrackedRuns.loc[TrackedRuns['RunNo.']==1].index:
    print(i)
    if TrackedRuns.loc[i, 'Dr']>=10 or (TrackedRuns.loc[i, 'Date'] - TrackedRuns.loc[i-1, 'Date'] > datetime.timedelta(days=42)):
        to_drop.append(i)
print(to_drop)
TrackedRuns.drop(to_drop, inplace=True)

2
5
19
36
41
53
59
64
[2, 36, 41, 59]

C:\Users\Testing\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [44]:
removed_horses

[]

In [45]:
qualified_horse_summary = TrackedRuns.loc[TrackedRuns['RunNo.']==1].reset_index()
qualified_horse_summary = qualified_horse_summary[['Horse', 'Distance', 'Jockey', 'Dr', 'Result']]
qualified_horse_summary.index = np.arange(1, len(qualified_horse_summary) + 1)
qualified_horse_summary

            Horse  Distance        Jockey  Dr  Result
1    Royal Dancer      1200  Akshay Kumar   7       6
2         Asteria      1200  Akshay Kumar   3       1
3  Hidden Soldier      1400   K Sai Kiran   8       6
4          Agrami      1200           NaN   5       4

In [18]:
qualified_horse_summary['Result'].value_counts()

6    2
1    1
4    1
Name: Result, dtype: int64

In [19]:
# n = df.groupby(["Jockey","Result"], as_index=True).size().unstack(fill_value=0)
# n.rename(columns={0:'X'}, inplace=True)
# m = df.groupby(["Jockey"], as_index=True).size().to_frame()
# Jockey_stats = pd.concat([n, m], axis=1)

# # Jockey_stats.rename(columns={0:'Total_Races', 1:"W", 2:"SHP", 3:"THP"}, inplace=True)
# # Jockey_stats["W%"]=((Jockey_stats["W"]/Jockey_stats['Total_Races'])*100).round(2)
# # Jockey_stats["SHP%"]=((Jockey_stats["SHP"]/Jockey_stats['Total_Races'])*100).round(2)
# # Jockey_stats["THP%"]=((Jockey_stats["THP"]/Jockey_stats['Total_Races'])*100).round(2)
# # Jockey_stats["Plc%"]=(((Jockey_stats["W"]+Jockey_stats["SHP"]+Jockey_stats["THP"])/Jockey_stats['Total_Races'])*100).round(2)
# # Jockey_stats["Plc"]=Jockey_stats["W"]+Jockey_stats["SHP"]+Jockey_stats["THP"]
# # Jockey_stats["BO"]=Jockey_stats["Total_Races"]-Jockey_stats["Plc"]

# Jockey_stats