In [1]:
import numpy as np
import pandas as pd
import datetime

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)
# data = pd.read_excel(r'C:\Users\Testing\Downloads\NEW METHOD 210805.xlsx')

data = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')
data['Date']= pd.to_datetime(data['Date'], unit='D', origin='1899-12-30T00:00:00.000000000')
data.rename(columns = {'CENTER':'Centre', 'VENUE ID': 'Venue ID', 'R No #': 'Race No', 'RES': 'Result', 'CLASS': 'Class', 'DIST': 'Dist'}, inplace = True)
data.Dist.replace([np.nan],[0],inplace=True)
data.Class.replace([np.nan],['-'],inplace=True)
data.Jockey.replace([np.nan],['-'],inplace=True)
data.Trainer.replace([np.nan],['-'],inplace=True)
data.LBW.replace(['W'],[100],inplace=True)
data['Horse Name'].replace([np.nan],['-'],inplace=True)
data['Sr #'] = [x+1 for x in data.index]
data['Rtg'] = [0]*len(data)
data['Penalty'] = [0]*len(data)
data['Time in S'] = [0]*len(data)
data['Time'] = [0]*len(data)
data['Odds'] = [0]*len(data)

data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance' }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y', '0y', '14y', '10y', '11y', '12y', '1y'],[0, 3, 5, 4, 6, 7, 8, 9, 2, 0, 14, 10, 11, 12, 1],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR', 'W'],[0,0,0,0,0], inplace=True)
data.Sh.replace(['s', 'a', np.nan], ['S', 'A', 'A'], inplace=True)

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)

data.drop(columns=['Time'], inplace=True)
allowed_classes = ['IV 4y&o', 'IV inf 4y&o', 'IV inf 5y&o',
                   'IV 5y&o', 'V 4y&o', 'T-4y&o', 'III 5y&o',
                   'V 5y&o', 'III 4y&o', 'II 4y&o', 'IV 4y',
                   'II up 4y&o', 'II 5y&o', 'IV 6y&o', 'III 6y&o',
                   'IV M4y', 'I up 4y&o', 'V 6y&o', 'IV M4y&o', 'T-M4y']
new = data['Venue ID'].str.split("=", n = 1, expand = True)
data['Venue ID'] = new[1]
data['Venue ID'] = data['Venue ID'].astype(int)
data['Venue Name'] = data['Venue ID'].replace([1,2,3,4,7,8,9,10,11], ['KOL', 'MUM', 'BLR', 'CHE', 'DEL', 'MYS', 'OOT', 'PUN', 'HYD'])

In [4]:
df = data
df.head(50)

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
0,B1,2008-05-17,BS08,BLR,3,3y,1200.0,1,AQUITAINE,3,M NARREDU,-,54.5,1,A,1,0.00,1,0,0,0,0,-1,BLR
1,B2,2008-05-17,BS08,BLR,3,3y,1200.0,1,PLEASURING,3,B PRAKASH,S GANAPATHY,54.5,8,S,2,7.50,2,0,0,0,0,-1,BLR
2,B3,2008-05-17,BS08,BLR,3,3y,1200.0,1,MINT,3,A IMRAN KHAN,J S DHARIWAL,54.5,11,A,3,10.25,3,0,0,0,0,-1,BLR
3,B4,2008-05-17,BS08,BLR,3,3y,1200.0,1,YOU BEAUTY,3,Ms LISA JONES,-,54.5,10,A,4,12.25,4,0,0,0,0,-1,BLR
4,B5,2008-05-17,BS08,BLR,3,3y,1200.0,1,JUST GREAT,3,D GNANESHWAR,AMIT CADDY,56.0,6,S,5,12.25,5,0,0,0,0,-1,BLR
5,B6,2008-05-17,BS08,BLR,3,3y,1200.0,1,FLYING FLAME,3,JAGDISH SHUKLA,V LOKANATH,54.5,12,S,6,13.50,6,0,0,0,0,-1,BLR
6,B7,2008-05-17,BS08,BLR,3,3y,1200.0,1,FLIP YOUR DESTINY,3,J E PEREIRA,G NITYANAND,56.0,3,S,7,19.25,7,0,0,0,0,-1,BLR
7,B8,2008-05-17,BS08,BLR,3,3y,1200.0,1,TAKE MY WORD,3,V R JAGADEESH,F SIRAJUDDIN,56.0,7,S,8,22.50,8,0,0,0,0,-1,BLR
8,B9,2008-05-17,BS08,BLR,3,3y,1200.0,1,THUNDERS ROAR,3,SHANTH KUMAR,S NARREDU,56.0,9,S,9,27.25,9,0,0,0,0,-1,BLR
9,B10,2008-05-17,BS08,BLR,3,3y,1200.0,1,VIJAY DHANUSH,3,G Y RAJESH BABU,LAXMAN SINGH,56.0,4,A,10,27.25,10,0,0,0,0,-1,BLR
10,B11,2008-05-17,BS08,BLR,3,3y,1200.0,1,SANFRANCISCO GIRL,3,P S CHOUHAN,WARREN SINGH,54.5,2,S,11,30.00,11,0,0,0,0,-1,BLR
11,B12,2008-05-17,BS08,BLR,3,3y,1200.0,1,DYNAMIC TREND,3,S BABU,KARAN SINGH,54.5,5,S,12,30.00,12,0,0,0,0,-1,BLR
12,B13,2008-05-17,BS08,BLR,3,3y,1400.0,2,SALSERA,3,M NARREDU,-,54.5,7,A,1,0.00,13,0,0,0,0,-1,BLR
13,B14,2008-05-17,BS08,BLR,3,3y,1400.0,2,STAR PRESENTATION,3,NOT AVAILABLE,-,56.0,9,A,2,1.50,14,0,0,0,0,-1,BLR
14,B15,2008-05-17,BS08,BLR,3,3y,1400.0,2,ENDURING STAR,3,WAYNE SMITH,FARAZ ARSHAD,56.0,8,A,3,10.00,15,0,0,0,0,-1,BLR
15,B16,2008-05-17,BS08,BLR,3,3y,1400.0,2,TALL GUY,3,SHADAB KHAN,F SIRAJUDDIN,56.0,4,S,4,11.00,16,0,0,0,0,-1,BLR
16,B17,2008-05-17,BS08,BLR,3,3y,1400.0,2,BULLISH LUCK,3,S RAMESH,-,54.5,3,A,5,11.00,17,0,0,0,0,-1,BLR
17,B18,2008-05-17,BS08,BLR,3,3y,1400.0,2,AHIRA,3,S SELVARAJ,IRFAN GHATALA,54.5,12,A,6,13.00,18,0,0,0,0,-1,BLR
18,B19,2008-05-17,BS08,BLR,3,3y,1400.0,2,LET THE RIVER RUN,3,D GNANESHWAR,NEIL DARASHAH,54.5,6,S,7,17.50,19,0,0,0,0,-1,BLR
19,B20,2008-05-17,BS08,BLR,3,3y,1400.0,2,YAMAGUCHI,3,SURAJ NARREDU,AMIT CADDY,56.0,11,A,8,17.50,20,0,0,0,0,-1,BLR
20,B21,2008-05-17,BS08,BLR,3,3y,1400.0,2,KICKINGKING,3,K GOPAL RAO,V LOKANATH,56.0,5,A,9,19.50,21,0,0,0,0,-1,BLR
21,B22,2008-05-17,BS08,BLR,3,3y,1400.0,2,IVORY SNOW,3,CH K CHARY,L D SILVA,54.5,10,A,10,22.25,22,0,0,0,0,-1,BLR
22,B23,2008-05-17,BS08,BLR,3,3y,1400.0,2,COLLEGE GIRL,3,M F ALI KHAN,LAXMAN SINGH,54.5,1,A,11,26.75,23,0,0,0,0,-1,BLR
23,B24,2008-05-17,BS08,BLR,3,3y,1400.0,2,SILK FEATHER,3,S BABU,KARAN SINGH,54.5,2,S,12,32.25,24,0,0,0,0,-1,BLR
24,B25,2008-05-17,BS08,BLR,3,V,1200.0,3,SPREAD A SMILE,5,SURAJ NARREDU,V LOKANATH,56.5,11,S,1,0.00,25,0,0,0,0,-1,BLR
25,B26,2008-05-17,BS08,BLR,3,V,1200.0,3,KING OF GOOD TIMES,4,KHURSHAD ALAM,S BRITTO,55.5,3,S,2,3.50,26,0,0,0,0,-1,BLR
26,B27,2008-05-17,BS08,BLR,3,V,1200.0,3,PRINCESS EMILY,6,R KOCH,S NARREDU,60.5,1,S,3,4.00,27,0,0,0,0,-1,BLR
27,B28,2008-05-17,BS08,BLR,3,V,1200.0,3,WHISPER VALLEY,4,B SREEKANTH,V LOKANATH,61.5,2,A,4,4.75,28,0,0,0,0,-1,BLR
28,B29,2008-05-17,BS08,BLR,3,V,1200.0,3,EVENT HORIZON,4,A ASHOK KUMAR,G NITYANAND,58.5,10,S,5,6.75,29,0,0,0,0,-1,BLR
29,B30,2008-05-17,BS08,BLR,3,V,1200.0,3,ASPIRING SEVEN,5,V R JAGADEESH,AMIT CADDY,50.0,9,S,6,9.75,30,0,0,0,0,-1,BLR
30,B31,2008-05-17,BS08,BLR,3,V,1200.0,3,AMAZING FLORA,4,KISHORE KADAM,NEIL DARASHAH,62.5,7,S,7,13.75,31,0,0,0,0,-1,BLR
31,B32,2008-05-17,BS08,BLR,3,V,1200.0,3,ZIGGY STARDUST,5,M J GAUTAM RAJ URS,WARREN SINGH,56.0,6,S,8,14.50,32,0,0,0,0,-1,BLR
32,B33,2008-05-17,BS08,BLR,3,V,1200.0,3,ASTONICAL,4,JAGDISH SHUKLA,V LOKANATH,56.5,4,S,9,14.50,33,0,0,0,0,-1,BLR
33,B34,2008-05-17,BS08,BLR,3,V,1200.0,3,FLYING JET,4,HIMANSHU,SAMAR SINGH,57.5,5,S,10,18.50,34,0,0,0,0,-1,BLR
34,B35,2008-05-17,BS08,BLR,3,V,1200.0,3,MOTIVATIONAL,4,R RAVI,FARAZ ARSHAD,60.0,8,S,11,28.00,35,0,0,0,0,-1,BLR
35,B36,2008-05-17,BS08,BLR,3,V,1200.0,3,SPRINT QUEEN,4,JAYAPRAKASH,PILLAY J S,52.5,12,S,12,28.00,36,0,0,0,0,-1,BLR
36,B37,2008-05-17,BS08,BLR,3,IV,1100.0,4,POETIC,3,NOT AVAILABLE,-,61.0,9,S,1,0.00,37,0,0,0,0,-1,BLR
37,B38,2008-05-17,BS08,BLR,3,IV,1100.0,4,SHOWHORSE,4,M NARREDU,S NARREDU,62.0,7,A,2,1.75,38,0,0,0,0,-1,BLR
38,B39,2008-05-17,BS08,BLR,3,IV,1100.0,4,SMART N SPECIAL,4,HIMANSHU,SAMAR SINGH,57.0,3,S,3,4.00,39,0,0,0,0,-1,BLR
39,B40,2008-05-17,BS08,BLR,3,IV,1100.0,4,TRAFALGAR SQUARE,4,J E PEREIRA,AMIT CADDY,52.0,2,S,4,7.25,40,0,0,0,0,-1,BLR
40,B41,2008-05-17,BS08,BLR,3,IV,1100.0,4,VOICE OF INDIA,3,VIJAY KUMAR,N A PONNAPPA,51.0,4,S,5,8.75,41,0,0,0,0,-1,BLR
41,B42,2008-05-17,BS08,BLR,3,IV,1100.0,4,WORTH A MILLION,6,M J GAUTAM RAJ URS,WARREN SINGH,57.0,5,S,6,9.25,42,0,0,0,0,-1,BLR
42,B43,2008-05-17,BS08,BLR,3,IV,1100.0,4,COSTA MESA,3,B MUKESH,L D SILVA,62.5,10,A,7,11.00,43,0,0,0,0,-1,BLR
43,B44,2008-05-17,BS08,BLR,3,IV,1100.0,4,SILVER ROSE,3,G Y RAJESH BABU,LAXMAN SINGH,62.5,8,A,8,13.75,44,0,0,0,0,-1,BLR
44,B45,2008-05-17,BS08,BLR,3,IV,1100.0,4,MISS HONEYDEW,3,CH K CHARY,NEIL DARASHAH,58.5,11,A,9,13.75,45,0,0,0,0,-1,BLR
45,B46,2008-05-17,BS08,BLR,3,IV,1100.0,4,SUPER SPEAR,3,V R JAGADEESH,V NARAYANA GOWDA,51.5,6,S,10,16.00,46,0,0,0,0,-1,BLR
46,B47,2008-05-17,BS08,BLR,3,IV,1100.0,4,LITTLE PREMIUM,5,SHANTH KUMAR,V LOKANATH,51.5,1,S,11,17.00,47,0,0,0,0,-1,BLR
47,B48,2008-05-17,BS08,BLR,3,III,1400.0,5,STAR WAVE,3,B PRAKASH,S GANAPATHY,55.5,6,A,1,0.00,48,0,0,0,0,-1,BLR
48,B49,2008-05-17,BS08,BLR,3,III,1400.0,5,MILAGRO,4,VINOD SHINDE,IRFAN GHATALA,54.5,2,A,2,2.00,49,0,0,0,0,-1,BLR
49,B50,2008-05-17,BS08,BLR,3,III,1400.0,5,REPIQUE,3,A IMRAN KHAN,FARAZ ARSHAD,54.0,5,A,3,5.25,50,0,0,0,0,-1,BLR

In [5]:
horse_wise = df.sort_values(['Horse', 'Date', 'Season', 'Race No'], ascending=True)
horse_wise

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
1883,B1884,2008-08-07,BS08,BLR,3,0y,0.0,194,-,0,-,-,0.0,0,A,0,100.00,1884,0,0,0,0,-1,BLR
2426,B2427,2008-11-22,BW08,BLR,3,0y,0.0,38,-,0,-,-,0.0,0,A,0,100.00,2427,0,0,0,0,-1,BLR
9972,B9973,2010-05-30,BS10,BLR,3,0y,0.0,31,-,0,-,-,0.0,0,A,0,100.00,9973,0,0,0,0,-1,BLR
174550,My11218,2010-12-22,MyW10,MYS,8,0y,0.0,4,-,0,-,-,0.0,0,A,0,100.00,174551,0,0,0,0,-1,MYS
176055,My12723,2011-06-15,MyS11,MYS,8,T-3y,0.0,6,-,0,-,-,0.0,0,A,0,100.00,176056,0,0,0,0,-1,MYS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5362,B5363,2009-06-13,BS09,BLR,3,III,1200.0,70,ZYCON,3,M F ALI KHAN,T SRINAGESH,58.5,4,S,6,14.25,5363,0,0,0,0,-1,BLR
5499,B5500,2009-06-20,BS09,BLR,3,III,1200.0,83,ZYCON,3,N S PARMAR,L V R DESHMUKH,57.5,2,S,6,9.75,5500,0,0,0,0,-1,BLR
120354,H39283,2021-07-26,HM21,HYD,11,TM 3y,1200.0,3,Zamazenta,3,B Nikhil,L D'silva,56.0,2,A,12,13.50,120355,0,0,0,0,-1,HYD
120433,H39362,2021-08-01,HM21,HYD,11,TM 3y,1200.0,9,Zeus,3,Trevor Patel,L V R Deshmukh,56.0,5,A,4,5.70,120434,0,0,0,0,-1,HYD
24,B25,2008-05-17,BS08,BLR,3,V,1200.0,3,SPREAD A SMILE,5,SURAJ NARREDU,V LOKANATH,56.5,11,S,1,0.00,25,0,0,0,0,-1,BLR

In [6]:
[x for x in horse_wise['LBW'] if type(x)==str]

[]

In [7]:
pre_qual_races = horse_wise.loc[(horse_wise['LBW']>=3.5) & (horse_wise['LBW']<=4.5) & (horse_wise['Sh']=='S') & ((horse_wise['Result'] == 3) | (horse_wise['Result'] == 4) | (horse_wise['Result'] == 5) | (horse_wise['Result'] == 6))]
pre_qual_races

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
22421,B22422,2012-11-17,BW12,BLR,3,IV,1200.0,31,A GAME TO REMEMBER,5,P MANI,WARREN SINGH,59.0,9,S,3,3.75,22422,0,0,0,0,-1,BLR
90893,H9820,2014-07-24,HM14,HYD,11,IV 5y&o,1100.0,1,A HORIZONTAL URGE,6,DEEPAK SINGH,J SILVESTER,50.5,7,S,3,4.25,90894,0,0,0,0,-1,HYD
92946,H11874,2014-11-16,HW14,HYD,11,IV 5y&o,1100.0,5,A HORIZONTAL URGE,6,DEEPAK SINGH,J SILVESTER,50.0,9,S,5,3.75,92947,0,0,0,0,-1,HYD
802,B803,2008-06-21,BS08,BLR,3,IV,1800.0,83,A RUN TO REMEMBER,5,J H CHRISTOPHER,WARREN SINGH,59.5,7,S,4,4.50,803,0,0,0,0,-1,BLR
126908,K5738,2012-12-04,KW12,KOL,1,V,1200.0,50,A'MA SHUKUM,3,SURJEET SINGH,F RODRIGUES,61.5,4,S,4,3.50,126909,0,0,0,0,-1,KOL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130050,K8880,2013-09-11,KM13,KOL,1,IV,1100.0,106,ZOFFANY,6,MD SHABBANI,SARFARAZ KHAN,60.0,9,S,3,4.00,130051,0,0,0,0,-1,KOL
167696,My4364,2009-07-20,MyS09,MYS,8,III,1200.0,16,ZOOMING,7,M J GAUTAM RAJ URS,M ESHWER,56.5,6,S,4,4.25,167697,0,0,0,0,-1,MYS
170400,My7068,2009-12-23,MyW09,MYS,8,IV 5y&o,1200.0,8,ZOOMING,7,M J GAUTAM RAJ URS,S SANTOSH RAO,53.5,7,S,5,4.50,170401,0,0,0,0,-1,MYS
37634,B37635,2015-12-25,BW15,BLR,3,IV,1200.0,104,ZULU FANTASY,4,G SAI VAMSHI,S BRITTO,60.5,3,S,6,4.00,37635,0,0,0,0,-1,BLR
140582,K19412,2016-11-01,KW16,KOL,1,V,1100.0,1,ZURVAN,4,MOHIT SINGH,JASBIR SINGH,60.5,7,S,5,4.50,140583,0,0,0,0,-1,KOL

In [8]:
combo=[0,1,2,3,4,5,6,7,8,9,10]
race_stats = df.groupby(["Date","Venue ID", "Season", "Race No", "Age"], as_index=True).size().unstack(
    fill_value=0)
mis_col = [i for i in combo if i not in race_stats.columns]
for col in mis_col:
    race_stats[col] = [0] * len(race_stats)
race_stats = race_stats[combo]
# race_stats = pd.concat([m,l], axis=1)
race_stats.reset_index(inplace=True)
race_stats.index = np.arange(1, len(race_stats) + 1)
race_stats['Age_qual'] = (race_stats[3] == 0) & (race_stats[0] == 0) & (race_stats[1] == 0) & (race_stats[2] == 0)
race_stats.drop(columns=combo, inplace=True)
race_stats

Age         Date  Venue ID Season  Race No  Age_qual
1     2008-05-17         3   BS08        1     False
2     2008-05-17         3   BS08        2     False
3     2008-05-17         3   BS08        3      True
4     2008-05-17         3   BS08        4     False
5     2008-05-17         3   BS08        5     False
...          ...       ...    ...      ...       ...
13297 2021-11-01         3   BW20        4     False
13298 2021-11-01         3   BW20        5      True
13299 2021-11-01         3   BW20        6     False
13300 2021-11-01         3   BW20        7     False
13301 2021-11-01         3   BW20        8      True

[13301 rows x 5 columns]

In [9]:
print(race_stats.columns)
print(pre_qual_races.columns)
qualified_horses = pre_qual_races.merge(race_stats,indicator = True, how='left')
qualified_horses = qualified_horses.loc[qualified_horses['Age_qual']]
qualified_horses = qualified_horses.loc[qualified_horses['Class'].isin(allowed_classes)]
qualified_horses
# Index(['Date', 'Venue ID', 'Season', 'Race No', 'Age_qual'], dtype='object', name='Age')
# Index(['Sr #', 'Date', 'Trainer', 'Season', 'Venue ID', 'Race No', 'Class',
#        'Distance', 'Horse', 'Age', 'Wt', 'Jockey', 'Dr', 'Sh', 'Result', 'LBW',
#        'Penalty', 'Time', 'RunNo.'],
#       dtype='object')

Index(['Date', 'Venue ID', 'Season', 'Race No', 'Age_qual'], dtype='object', name='Age')
Index(['C-Sr#', 'Date', 'Season', 'Centre', 'Venue ID', 'Class', 'Distance',
       'Race No', 'Horse', 'Age', 'Jockey', 'Trainer', 'Wt', 'Dr', 'Sh',
       'Result', 'LBW', 'Sr #', 'Rtg', 'Penalty', 'Time in S', 'Odds',
       'RunNo.', 'Venue Name'],
      dtype='object')

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name,Age_qual,_merge
23,C4649,2018-11-14,C1819,CNY,4,IV 4y&o,1200.0,3,ABSOLUTELYGORGEOUS,5,Noorshed Alam,G S Parmar,58.5,4,S,5,4.25,157869,0,0,0,0,-1,CHE,True,both
27,My40451,2018-01-10,MyW17,MYS,8,IV 5y&o,1200.0,8,ACCURACY,8,S JOHN,S SANTOSH RAO,58.0,10,S,5,4.00,203784,0,0,0,0,-1,MYS,True,both
34,H4312,2013-02-02,HW12,HYD,11,IV 5y&o,1400.0,29,ACE STAR,5,G SAI VAMSHI,M V NARAYANA RAO,58.5,9,S,4,4.50,85387,0,0,0,0,-1,HYD,True,both
45,K5182,2012-10-16,KM12,KOL,1,III 4y&o,1200.0,160,ADAWNA,4,AJOY ROY,VIJAY SINGH,61.0,7,S,4,4.25,126353,0,0,0,0,-1,KOL,True,both
65,C7331,2019-12-13,C1920,CNY,4,IV 5y&o,1200.0,5,AGNES,5,Md Farhan Alam,K S Mandanna,60.5,9,S,6,4.25,160551,0,0,0,0,-1,CHE,True,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2952,My36485,2017-01-04,MyW16,MYS,8,III 6y&o,1200.0,8,UMARKOT,7,MD IMRAN ASHRAF,M BOBBY,55.5,5,S,4,4.00,199818,0,0,0,0,-1,MYS,True,both
3028,My7480,2010-01-27,MyW09,MYS,8,IV 6y&o,1400.0,14,WAY TO WEALTH,9,S CHANDRASHEKAR,KISHORE C V G K,56.0,5,S,3,4.25,170813,0,0,0,0,-1,MYS,True,both
3048,My12196,2011-02-23,MyW10,MYS,8,III 6y&o,1200.0,14,WINDSOR SQUARE,7,VALDIR DE SOUSA,KISHORE C V G K,60.0,4,S,5,4.00,175529,0,0,0,0,-1,MYS,True,both
3118,My40291,2018-01-05,MyW17,MYS,8,IV 5y&o,1400.0,7,ZAGATO,8,P KIRAN RAI,C GIRINATH,54.0,5,S,5,4.50,203624,0,0,0,0,-1,MYS,True,both
3135,My12148,2011-02-23,MyW10,MYS,8,V 6y&o,1400.0,14,ZIGGY STARDUST,8,K CHETHANA,S SANTOSH RAO,56.5,6,S,5,4.50,175481,0,0,0,0,-1,MYS,True,both

In [10]:
qualifying_races = qualified_horses[["Date", "Season", "Race No", "Venue ID"]]
qualifying_races

           Date Season  Race No  Venue ID
23   2018-11-14  C1819        3         4
27   2018-01-10  MyW17        8         8
34   2013-02-02   HW12       29        11
45   2012-10-16   KM12      160         1
65   2019-12-13  C1920        5         4
...         ...    ...      ...       ...
2952 2017-01-04  MyW16        8         8
3028 2010-01-27  MyW09       14         8
3048 2011-02-23  MyW10       14         8
3118 2018-01-05  MyW17        7         8
3135 2011-02-23  MyW10       14         8

[102 rows x 4 columns]

In [11]:
qualifying_races_detailed = pd.merge(qualifying_races, df, on=["Date", "Season", "Race No"])
qualifying_races_detailed.set_index(["Date", "Season", "Race No"], inplace=True)
qualifying_races_detailed

                           Venue ID_x    C-Sr# Centre  Venue ID_y    Class  \
Date       Season Race No
2018-11-14 C1819  3                 4    C4645    CNY           4  IV 4y&o
                  3                 4    C4646    CNY           4  IV 4y&o
                  3                 4    C4647    CNY           4  IV 4y&o
                  3                 4    C4648    CNY           4  IV 4y&o
                  3                 4    C4649    CNY           4  IV 4y&o
...                               ...      ...    ...         ...      ...
2018-01-05 MyW17  7                 8  My40369    MYS           8      III
                  7                 8  My40370    MYS           8      III
                  7                 8  My40371    MYS           8      III
                  7                 8  My40372    MYS           8      III
                  7                 8  My40373    MYS           8      III

                           Distance                Horse  Age          Jockey  \
Date       Season Race No
2018-11-14 C1819  3          1200.0        CLASSY LASSY     7    Nazerul Alam
                  3          1200.0      HIGHLAND LIGHT     4          M Mark
                  3          1200.0     RHAPSIDION ROSE     6    A Imran Khan
                  3          1200.0          GOOD FRUIT     7     R N Darshan
                  3          1200.0  ABSOLUTELYGORGEOUS     5   Noorshed Alam
...                             ...                  ...  ...             ...
2018-01-05 MyW17  7          1400.0      PERFECT LEGACY     5  N RAMESH KUMAR
                  7          1400.0              MARIKO     6   R RAYAN AHMED
                  7          1400.0            RECKLESS     8        J PASWAN
                  7          1400.0      AMAZING DESIRE     9     DARSHAN R N
                  7          1400.0           WAR ENVOY     5       WITHDRAWN

                                Trainer    Wt  Dr Sh  Result    LBW    Sr #  \
Date       Season Race No
2018-11-14 C1819  3         J Sebastian  52.0   3  S       1   0.00  157865
                  3        K S Mandanna  60.0   1  S       2   1.00  157866
                  3             R Foley  59.0   7  A       3   1.75  157867
                  3         M P Vishesh  56.0   5  A       4   2.75  157868
                  3          G S Parmar  58.5   4  S       5   4.25  157869
...                                 ...   ...  .. ..     ...    ...     ...
2018-01-05 MyW17  7        SHARAT KUMAR  57.5   1  S      10  16.00  203702
                  7          V LOKANATH  55.5  12  A      11  16.50  203703
                  7        J SHARAVANAN  53.5   4  S      12  16.50  203704
                  7          V LOKANATH  52.5   5  A      13  16.50  203705
                  7        HIDAYAT KHAN  55.5   0  A       0  16.50  203706

                           Rtg  Penalty  Time in S  Odds  RunNo. Venue Name
Date       Season Race No
2018-11-14 C1819  3          0        0          0     0      -1        CHE
                  3          0        0          0     0      -1        CHE
                  3          0        0          0     0      -1        CHE
                  3          0        0          0     0      -1        CHE
                  3          0        0          0     0      -1        CHE
...                        ...      ...        ...   ...     ...        ...
2018-01-05 MyW17  7          0        0          0     0      -1        MYS
                  7          0        0          0     0      -1        MYS
                  7          0        0          0     0      -1        MYS
                  7          0        0          0     0      -1        MYS
                  7          0        0          0     0      -1        MYS

[4131 rows x 22 columns]

In [12]:
for i in qualified_horses['Sr #']:
    df.loc[i-1,'RunNo.'] = 0

In [13]:
races_Q_horses = pd.merge(qualified_horses[['Horse']], df, on=["Horse"])
races_Q_horses.loc[60:80]

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
60,ACE STAR,H3368,2012-12-30,HW12,HYD,11,IV 4y&o,1400.0,17,4,G SAI VAMSHI,M V NARAYANA RAO,59.0,5,S,7,12.25,84443,0,0,0,0,-1,HYD
61,ACE STAR,H4312,2013-02-02,HW12,HYD,11,IV 5y&o,1400.0,29,5,G SAI VAMSHI,M V NARAYANA RAO,58.5,9,S,4,4.50,85387,0,0,0,0,0,HYD
62,ACE STAR,H4638,2013-02-17,HW12,HYD,11,IV 5y&o,1600.0,33,5,G SAI VAMSHI,M V NARAYANA RAO,58.0,4,S,6,5.00,85713,0,0,0,0,-1,HYD
63,ACE STAR,H4860,2013-02-25,HW12,HYD,11,IV 4y&o,1400.0,36,5,D K ASHISH,M V NARAYANA RAO,57.5,13,S,8,6.75,85935,0,0,0,0,-1,HYD
64,ACE STAR,H5264,2013-07-29,HM13,HYD,11,IV 5y&o,1200.0,3,5,G SAI VAMSHI,M V NARAYANA RAO,58.5,7,S,1,0.00,86338,0,0,0,0,-1,HYD
65,ACE STAR,H5682,2013-08-19,HM13,HYD,11,IV 5y&o,1400.0,10,5,KIRAN NAIDU,M V NARAYANA RAO,61.5,5,S,4,9.25,86756,0,0,0,0,-1,HYD
66,ACE STAR,H5991,2013-09-02,HM13,HYD,11,IV 4y&o,1600.0,14,5,N RAJESH,M V NARAYANA RAO,60.5,8,S,2,1.25,87065,0,0,0,0,-1,HYD
67,ACE STAR,H6282,2013-09-16,HM13,HYD,11,III 5y&o,1200.0,18,5,HARINDER SINGH,M V NARAYANA RAO,50.0,7,S,3,3.00,87356,0,0,0,0,-1,HYD
68,ACE STAR,H6538,2013-10-02,HM13,HYD,11,III 4y&o,1000.0,22,5,ABHISHEK PAWAR,M V NARAYANA RAO,50.5,9,S,4,2.25,87612,0,0,0,0,-1,HYD
69,ACE STAR,H6802,2013-10-14,HM13,HYD,11,III 5y&o,1600.0,26,5,ABHISHEK PAWAR,M V NARAYANA RAO,50.5,5,S,2,1.50,87876,0,0,0,0,-1,HYD
70,ACE STAR,H6883,2013-10-21,HM13,HYD,11,III 4y&o,1000.0,27,5,ABHISHEK PAWAR,M V NARAYANA RAO,51.5,10,S,2,3.75,87957,0,0,0,0,-1,HYD
71,ACE STAR,H7208,2013-11-10,HW13,HYD,11,III 5y&o,1400.0,3,5,ABHISHEK PAWAR,M V NARAYANA RAO,52.0,2,S,1,0.00,88282,0,0,0,0,-1,HYD
72,ACE STAR,H7389,2013-11-18,HW13,HYD,11,III 5y&o,1000.0,6,5,ABHISHEK PAWAR,M V NARAYANA RAO,55.5,5,S,5,4.00,88463,0,0,0,0,-1,HYD
73,ACE STAR,H7795,2013-12-08,HW13,HYD,11,III 5y&o,1200.0,12,5,AJIT KUMAR,M V NARAYANA RAO,56.0,11,S,8,3.00,88869,0,0,0,0,-1,HYD
74,ACE STAR,H8641,2014-01-19,HW13,HYD,11,III 5y&o,1200.0,24,6,S SREEKANT,M V NARAYANA RAO,55.0,13,S,14,19.75,89715,0,0,0,0,-1,HYD
75,ACE STAR,H9378,2014-02-24,HW13,HYD,11,III 4y&o,1600.0,34,6,J H CHRISTOPHER,M V NARAYANA RAO,58.0,5,S,8,17.75,90452,0,0,0,0,-1,HYD
76,ADAWNA,K1844,2011-12-04,KW11,KOL,1,V,1400.0,52,3,C ALFORD,VIJAY SINGH,62.5,12,A,1,0.00,123015,0,0,0,0,-1,KOL
77,ADAWNA,K2074,2011-12-17,KW11,KOL,1,IV,1400.0,77,3,C ALFORD,VIJAY SINGH,62.5,6,A,3,8.75,123245,0,0,0,0,-1,KOL
78,ADAWNA,K4285,2012-08-14,KM12,KOL,1,IV,1100.0,50,4,AJOY ROY,VIJAY SINGH,62.5,4,S,10,25.75,125456,0,0,0,0,-1,KOL
79,ADAWNA,K4472,2012-08-28,KM12,KOL,1,IV,1400.0,74,4,AJOY ROY,VIJAY SINGH,62.5,7,S,1,0.00,125643,0,0,0,0,-1,KOL
80,ADAWNA,K4792,2012-09-18,KM12,KOL,1,III,1400.0,113,4,C ALFORD,VIJAY SINGH,60.0,5,S,2,2.25,125963,0,0,0,0,-1,KOL

In [14]:
races_Q_horses.loc[71, 'Sh']

'S'

In [15]:
zerothindex = races_Q_horses.index[races_Q_horses['RunNo.'] == 0].tolist()
removed_horses = []
print(zerothindex)
for i in zerothindex:
    print(i)
    if (i+1 in races_Q_horses.index):
#         if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and races_Q_horses.loc[i+1, 'Sh']=='A'):
#             print("here")
#             races_Q_horses.loc[i+1, 'RunNo.'] = 1
#         elif (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse'] and races_Q_horses.loc[i+1, 'Sh']!='A'):
#             removed_horses.append(races_Q_horses.loc[i, 'Horse'])
# #             races_Q_horses = races_Q_horses.loc[races_Q_horses['Horse'] != races_Q_horses.loc[i, 'Horse']]
#             races_Q_horses = races_Q_horses.drop([i, i+1])
        if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']):
            print("here")
            races_Q_horses.loc[i+1, 'RunNo.'] = 1

[8, 48, 61, 82, 98, 123, 143, 160, 169, 176, 202, 231, 251, 305, 353, 380, 424, 431, 449, 474, 475, 486, 487, 520, 544, 546, 550, 552, 581, 614, 616, 643, 653, 655, 660, 662, 672, 692, 705, 718, 723, 732, 746, 762, 771, 773, 808, 815, 852, 866, 881, 912, 955, 974, 986, 1000, 1009, 1037, 1067, 1113, 1123, 1142, 1155, 1156, 1168, 1193, 1205, 1238, 1253, 1274, 1305, 1306, 1333, 1334, 1343, 1356, 1373, 1406, 1444, 1451, 1494, 1538, 1578, 1584, 1590, 1602, 1612, 1639, 1665, 1673, 1708, 1776, 1798, 1839, 1851, 1865, 1901, 1925, 1941, 1966, 1999, 2031, 2040, 2067, 2069, 2114, 2116, 2162, 2200, 2223, 2272, 2298, 2364, 2389]
8
here
48
here
61
here
82
here
98
here
123
here
143
here
160
here
169
here
176
here
202
here
231
here
251
here
305
here
353
here
380
here
424
here
431
here
449
here
474
here
475
here
486
here
487
here
520
here
544
here
546
here
550
here
552
here
581
here
614
616
here
643
here
653
here
655
here
660
here
662
here
672
here
692
here
705
here
718
here
723
here
732
here
746
here
762
here
771
773
here
808
815
here
852
here
866
here
881
here
912
here
955
here
974
986
here
1000
here
1009
here
1037
here
1067
here
1113
here
1123
here
1142
here
1155
1156
here
1168
here
1193
here
1205
here
1238
here
1253
here
1274
here
1305
here
1306
here
1333
here
1334
here
1343
here
1356
1373
here
1406
here
1444
here
1451
here
1494
here
1538
here
1578
here
1584
here
1590
here
1602
here
1612
here
1639
here
1665
1673
here
1708
here
1776
here
1798
here
1839
here
1851
here
1865
here
1901
1925
here
1941
1966
here
1999
here
2031
here
2040
here
2067
here
2069
here
2114
here
2116
here
2162
here
2200
here
2223
here
2272
here
2298
2364
here
2389
here

In [16]:
TrackedRuns = races_Q_horses.loc[races_Q_horses['RunNo.']>=0]
# TrackedRuns.set_index(['Horse', 'Sr #'], inplace = True)
TrackedRuns

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,RunNo.,Venue Name
8,ABSOLUTELYGORGEOUS,C4649,2018-11-14,C1819,CNY,4,IV 4y&o,1200.0,3,5,Noorshed Alam,G S Parmar,58.5,4,S,5,4.25,157869,0,0,0,0,0,CHE
9,ABSOLUTELYGORGEOUS,C5830,2019-01-31,C1819,CNY,4,IV,1200.0,6,6,Ranjeet Singh,G S Parmar,59.5,11,S,10,31.50,159050,0,0,0,0,1,CHE
48,ACCURACY,My40451,2018-01-10,MyW17,MYS,8,IV 5y&o,1200.0,8,8,S JOHN,S SANTOSH RAO,58.0,10,S,5,4.00,203784,0,0,0,0,0,MYS
49,ACCURACY,My40520,2018-01-19,MyW17,MYS,8,IV,1400.0,9,8,IRVAN SINGH,S SANTOSH RAO,57.0,9,A,1,0.00,203853,0,0,0,0,1,MYS
61,ACE STAR,H4312,2013-02-02,HW12,HYD,11,IV 5y&o,1400.0,29,5,G SAI VAMSHI,M V NARAYANA RAO,58.5,9,S,4,4.50,85387,0,0,0,0,0,HYD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2298,WINDSOR SQUARE,My12196,2011-02-23,MyW10,MYS,8,III 6y&o,1200.0,14,7,VALDIR DE SOUSA,KISHORE C V G K,60.0,4,S,5,4.00,175529,0,0,0,0,0,MYS
2364,ZAGATO,My40291,2018-01-05,MyW17,MYS,8,IV 5y&o,1400.0,7,8,P KIRAN RAI,C GIRINATH,54.0,5,S,5,4.50,203624,0,0,0,0,0,MYS
2365,ZAGATO,My40485,2018-01-19,MyW17,MYS,8,IV,1400.0,9,8,M RAJESH KUMAR,C GIRINATH,52.5,14,A,7,7.25,203818,0,0,0,0,1,MYS
2389,ZIGGY STARDUST,My12148,2011-02-23,MyW10,MYS,8,V 6y&o,1400.0,14,8,K CHETHANA,S SANTOSH RAO,56.5,6,S,5,4.50,175481,0,0,0,0,0,MYS
2390,ZIGGY STARDUST,My12258,2011-05-18,MyS11,MYS,8,V 5y&o,1200.0,1,8,G DEEPAK SINGH,S SANTOSH RAO,55.5,10,S,8,16.00,175591,0,0,0,0,1,MYS

In [17]:
to_drop = []
for i in TrackedRuns.loc[TrackedRuns['RunNo.']==1].index:
    print(i)
    if TrackedRuns.loc[i, 'Sh']!='A' or TrackedRuns.loc[i, 'Distance'] not in [1200, 1400]:
        to_drop.append(i)
print(to_drop)
TrackedRuns.drop(to_drop, inplace=True)

9
49
62
83
99
124
144
161
170
177
203
232
252
306
354
381
425
432
450
475
476
487
488
521
545
547
551
553
582
617
644
654
656
661
663
673
693
706
719
724
733
747
763
774
816
853
867
882
913
956
987
1001
1010
1038
1068
1114
1124
1143
1157
1169
1194
1206
1239
1254
1275
1306
1307
1334
1335
1344
1374
1407
1445
1452
1495
1539
1579
1585
1591
1603
1613
1640
1674
1709
1777
1799
1840
1852
1866
1926
1967
2000
2032
2041
2068
2070
2115
2117
2163
2201
2224
2273
2365
2390
[9, 62, 83, 99, 124, 144, 161, 177, 203, 232, 252, 354, 381, 425, 432, 450, 475, 487, 521, 545, 547, 551, 553, 582, 617, 644, 654, 656, 661, 663, 673, 693, 706, 719, 724, 733, 747, 763, 774, 882, 913, 956, 987, 1001, 1010, 1038, 1068, 1114, 1124, 1143, 1157, 1169, 1194, 1206, 1239, 1254, 1275, 1306, 1307, 1334, 1335, 1344, 1374, 1407, 1495, 1539, 1579, 1591, 1603, 1613, 1640, 1674, 1709, 1777, 1799, 1840, 1852, 1866, 1926, 1967, 2000, 2032, 2068, 2070, 2115, 2117, 2163, 2201, 2224, 2273, 2390]

C:\Users\Testing\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [18]:
removed_horses

[]

In [19]:
qualified_horse_summary = TrackedRuns.loc[TrackedRuns['RunNo.']==1].reset_index()
qualified_horse_summary = qualified_horse_summary[['Horse', 'Distance', 'Jockey', 'Dr', 'Result']]
qualified_horse_summary.index = np.arange(1, len(qualified_horse_summary) + 1)
qualified_horse_summary

              Horse  Distance          Jockey  Dr  Result
1         ACCURACY     1400.0     IRVAN SINGH   9       1
2          ARABICA     1200.0        P TREVOR  11       1
3            AWARE     1400.0   KULDEEP SINGH   4       1
4      CATO'S CALL     1200.0    Yash Narredu   1       5
5      CATO'S CALL     1200.0    Yash Narredu   1       5
6      GROUND CREW     1200.0       A K PAWAR   6       2
7    GUIDING FORCE     1200.0     Kiran Naidu   6       7
8    HALL OF GLORY     1400.0        B MAHESH   4       8
9   PRINCESS SANAA     1200.0     P Sai Kumar   5       8
10         RAFAELE     1200.0        A M Alam   8       1
11     REGAL GROOM     1400.0    Tanveer Alam   5       8
12  SUNSHINE HEART     1200.0   Noorshed Alam   1       5
13          ZAGATO     1400.0  M RAJESH KUMAR  14       7

In [22]:
qualified_horses.iloc[1]['Horse']

'ACCURACY\xa0'