In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [3]:
# data = pd.concat(pd.read_excel(r'C:\Users\Testing\NEW METHOD FILE.xlsx', sheet_name=None), ignore_index=True)
data = pd.read_excel(r'C:\Users\Testing\Downloads\ALL METHODS - MASTER FILE (1).xlsb', engine='pyxlsb')
data['Date']= pd.to_datetime(data['Date'], unit='D', origin='1899-12-30T00:00:00.000000000')
data.rename(columns = {'CENTER':'Centre', 'VENUE ID': 'Venue ID', 'R No #': 'Race No', 'RES': 'Result', 'CLASS': 'Class', 'DIST': 'Dist'}, inplace = True)
data.Dist.replace([np.nan],[0],inplace=True)
data.Class.replace([np.nan],['-'],inplace=True)
data.Jockey.replace([np.nan],['-'],inplace=True)
data.Trainer.replace([np.nan],['-'],inplace=True)
data['Horse Name'].replace([np.nan],['-'],inplace=True)
data['LBW'].replace(['W'],[0],inplace=True)
data['Sr #'] = [x+1 for x in data.index]
data['Rtg'] = [0]*len(data)
data['Penalty'] = [0]*len(data)
data['Time in S'] = [0]*len(data)
data['Time'] = [0]*len(data)
data['Odds'] = [0]*len(data)

data.rename(columns = {'Center':'Season', 'Horse Name': 'Horse', 'Dist': 'Distance', }, inplace = True)

data.Age.replace([np.nan, '3y', '5y', '4y', '6y', '7y', '8y', '9y', '2y', '0y', '14y', '10y', '11y', '12y', '1y'],[0, 3, 5, 4, 6, 7, 8, 9, 2, 0, 14, 10, 11, 12, 1],inplace=True)
data.Result.replace(['DNC', 'NC', 'DNF', 'DR','W'],[0,0,0,0,0], inplace=True)

data['combined_data'] = list(zip(data.Age, data.Result))
data['LBW2'] = ((data['Result']==2).replace([False, True], [0, 1]))*data['LBW']

data['RunNo.']=[-1]*len(data)

data['Dr'].replace([np.nan], [0], inplace=True)
data['Dr'] = data.Dr.astype(int)
data['Date'] = data['Date'].dt.date
data.drop(columns=['Time'], inplace=True)
###########################
new = data['Venue ID'].str.split("=", n = 1, expand = True)
data['Venue ID'] = new[1]
data['Venue ID'] = data['Venue ID'].astype(int)
data['Venue Name'] = data['Venue ID'].replace([1,2,3,4,7,8,9,10,11], ['KOL', 'MUM', 'BLR', 'CHE', 'DEL', 'MYS', 'OOT', 'PUN', 'HYD'])

In [4]:
df= data
df

,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Horse,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,LBW2,RunNo.,Venue Name
0,B1,2008-05-17,BS08,BLR,3,3y,1200.0,1,AQUITAINE,3,M NARREDU,-,54.5,1,A,1,0.00,1,0,0,0,0,"(3, 1)",0.0,-1,BLR
1,B2,2008-05-17,BS08,BLR,3,3y,1200.0,1,PLEASURING,3,B PRAKASH,S GANAPATHY,54.5,8,S,2,7.50,2,0,0,0,0,"(3, 2)",7.5,-1,BLR
2,B3,2008-05-17,BS08,BLR,3,3y,1200.0,1,MINT,3,A IMRAN KHAN,J S DHARIWAL,54.5,11,A,3,10.25,3,0,0,0,0,"(3, 3)",0.0,-1,BLR
3,B4,2008-05-17,BS08,BLR,3,3y,1200.0,1,YOU BEAUTY,3,Ms LISA JONES,-,54.5,10,A,4,12.25,4,0,0,0,0,"(3, 4)",0.0,-1,BLR
4,B5,2008-05-17,BS08,BLR,3,3y,1200.0,1,JUST GREAT,3,D GNANESHWAR,AMIT CADDY,56.0,6,S,5,12.25,5,0,0,0,0,"(3, 5)",0.0,-1,BLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241557,M29429,2021-04-04,M20,MUM,2,IV 5y&o,1200.0,202,DIVINE GLORY,5,Bhawani Singh,Altaf Hussain,59.0,9,A,10,8.25,241558,0,0,0,0,"(5, 10)",0.0,-1,MUM
241558,M29430,2021-04-04,M20,MUM,2,IV 5y&o,1200.0,202,UNTITLED,8,Hanumant Singh,H J Antia,57.5,1,A,11,9.50,241559,0,0,0,0,"(8, 11)",0.0,-1,MUM
241559,M29431,2021-04-04,M20,MUM,2,IV 5y&o,1200.0,202,AIRMAX,5,H Zeeshan,Adil Dajee,50.0,5,A,12,11.00,241560,0,0,0,0,"(5, 12)",0.0,-1,MUM
241560,M29432,2021-04-04,M20,MUM,2,IV 5y&o,1200.0,202,SLAM DUNK,8,D R Shubham,H J Antia,59.5,6,A,13,22.25,241561,0,0,0,0,"(8, 13)",0.0,-1,MUM
241561,M29433,2021-04-04,M20,MUM,2,IV 5y&o,1200.0,202,SENIORITY,5,Withdrawn,Imtiaz A Sait,53.5,7,A,0,100.00,241562,0,0,0,0,"(5, 0)",0.0,-1,MUM

In [5]:
race_stats = df.groupby(["Date", "Season", "Race No", "Result"], as_index=True).size().unstack(
    fill_value=0)
race_stats.reset_index(inplace=True)
race_stats.index = np.arange(1, len(race_stats) + 1)
race_stats = race_stats[['Date', 'Season', 'Race No']]
race_stats

Result        Date Season  Race No
1       2008-05-17   BS08        1
2       2008-05-17   BS08        2
3       2008-05-17   BS08        3
4       2008-05-17   BS08        4
5       2008-05-17   BS08        5
...            ...    ...      ...
13297   2021-11-01   BW20        4
13298   2021-11-01   BW20        5
13299   2021-11-01   BW20        6
13300   2021-11-01   BW20        7
13301   2021-11-01   BW20        8

[13301 rows x 3 columns]

In [6]:
mylist = data.Class.unique()
r = re.compile("(.+?)4y&o$")
filtered_allowed_classes = list(filter(r.match, mylist))
qualified_horses = df.loc[(df['Wt']==59) & (df['LBW']>=8) & (df['LBW']<=9) & (df['Age']==5) & (df['Class'].isin(filtered_allowed_classes))][['Horse', 'Date', 'Season', 'Race No', 'Sr #', 'Trainer', 'Rtg', 'Class', 'Distance','Age',
 'Wt', 'Jockey', 'Dr', 'Sh', 'Result', 'LBW', 'Penalty', 'Time in S', 'RunNo.', 'Venue ID']]
qualified_horses.index = np.arange(1, len(qualified_horses) + 1)
qualified_horses

,Horse,Date,Season,Race No,Sr #,Trainer,Rtg,Class,Distance,Age,Wt,Jockey,Dr,Sh,Result,LBW,Penalty,Time in S,RunNo.,Venue ID
1,DIEGO RIVERA,2008-06-01,BS08,43,423,P SHROFF,0,T-M 4y&o,1600.0,5,59.0,M NARREDU,3,A,7,9.00,0,0,-1,3
2,KOHINOOR WISH,2012-03-03,BW11,232,18860,ANUPAM SHARMA,0,T-M 4y&o,1200.0,5,59.0,C HENRIQUE,14,A,11,8.75,0,0,-1,3
3,MANDARIN,2016-01-29,BW15,156,38186,ARAVIND GANAPATHY,0,T-4y&o,1200.0,5,59.0,VINOD SHINDE,9,A,6,8.00,0,0,-1,3
4,MACCHUPICCHU,2012-10-28,P12,28,66872,P SHROFF,0,T-4y&o,2000.0,5,59.0,B PRAKASH,9,A,10,9.00,0,0,-1,10
5,WORLD HOLD ON,2013-09-28,P13,21,68594,DALLAS TODYWALLA,0,T-4y&o,1400.0,5,59.0,A SANDESH,7,A,6,8.25,0,0,-1,10
6,ICELAND,2012-08-20,HM12,8,81803,M SATYANARAYANA,0,IV 4y&o,1400.0,5,59.0,KHURSHAD ALAM,7,S,7,8.00,0,0,-1,11
7,COMMANDING BOY,2017-02-20,HW16,32,104618,K S V PRASAD RAJU,0,II 4y&o,1400.0,5,59.0,N RAWAL,2,A,6,8.25,0,0,-1,11
8,PRINCESS OF DREAMS,2018-10-02,HM18,22,111268,D Netto,0,IV 4y&o,1400.0,5,59.0,Kiran Naidu,14,A,11,8.25,0,0,-1,11
9,TREASURE STRIKER,2019-02-02,HW18,26,113447,N Ravinder Singh,0,T-4y&o,1400.0,5,59.0,A A Vikrant,3,A,10,9.00,0,0,-1,11
10,RECORD TIME,2009-10-17,MyR09,19,169463,RAKESH,0,V 4y&o,1400.0,5,59.0,S R SANTOSH KUMAR,11,S,7,8.50,0,0,-1,8
11,CARISA,2015-09-11,MyR15,8,193925,VIKRAM APPACHU,0,II 4y&o,1600.0,5,59.0,M RAJESH KUMAR,7,A,3,9.00,0,0,-1,8
12,ALWAYS LOVE,2015-11-17,MyW15,1,195124,C D MONNAPPA,0,IV 4y&o,1400.0,5,59.0,ANIL BAANDAL,8,S,8,8.75,0,0,-1,8
13,TRULY EPIC,2020-03-01,MyW19,16,211185,Imtiaz A Sait,0,T-4y&o,1600.0,5,59.0,A Imran Khan,7,A,9,9.00,0,0,-1,8
14,MOUNTAIN REGIMENT,2013-02-10,M12,189,217696,H J ANTIA,0,TM-4y&o,1200.0,5,59.0,KISHORE KADAM,4,A,11,9.00,0,0,-1,2

In [7]:
[x for x in df['LBW'].unique() if type(x)==str]

[]

In [8]:
qualifying_races = qualified_horses[["Date", "Season", "Race No"]]
qualifying_races.drop_duplicates(inplace=True ,ignore_index=True)
qualifying_races

<ipython-input-8-8e6f304ad4fa>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualifying_races.drop_duplicates(inplace=True ,ignore_index=True)

          Date Season  Race No
0   2008-06-01   BS08       43
1   2012-03-03   BW11      232
2   2016-01-29   BW15      156
3   2012-10-28    P12       28
4   2013-09-28    P13       21
5   2012-08-20   HM12        8
6   2017-02-20   HW16       32
7   2018-10-02   HM18       22
8   2019-02-02   HW18       26
9   2009-10-17  MyR09       19
10  2015-09-11  MyR15        8
11  2015-11-17  MyW15        1
12  2020-03-01  MyW19       16
13  2013-02-10    M12      189

In [9]:
qualifying_races_detailed = pd.merge(qualifying_races, df, on=["Date", "Season", "Race No"])
qualifying_races_detailed.set_index(["Date", "Season", "Race No"], inplace=True)
qualifying_races_detailed.head(50)

                            C-Sr# Centre  Venue ID     Class  Distance  \
Date       Season Race No
2008-06-01 BS08   43         B417    BLR         3  T-M 4y&o    1600.0
                  43         B418    BLR         3  T-M 4y&o    1600.0
                  43         B419    BLR         3  T-M 4y&o    1600.0
                  43         B420    BLR         3  T-M 4y&o    1600.0
                  43         B421    BLR         3  T-M 4y&o    1600.0
                  43         B422    BLR         3  T-M 4y&o    1600.0
                  43         B423    BLR         3  T-M 4y&o    1600.0
                  43         B424    BLR         3  T-M 4y&o    1600.0
                  43         B425    BLR         3  T-M 4y&o    1600.0
2012-03-03 BW11   232      B18850    BLR         3  T-M 4y&o    1200.0
                  232      B18851    BLR         3  T-M 4y&o    1200.0
                  232      B18852    BLR         3  T-M 4y&o    1200.0
                  232      B18853    BLR         3  T-M 4y&o    1200.0
                  232      B18854    BLR         3  T-M 4y&o    1200.0
                  232      B18855    BLR         3  T-M 4y&o    1200.0
                  232      B18856    BLR         3  T-M 4y&o    1200.0
                  232      B18857    BLR         3  T-M 4y&o    1200.0
                  232      B18858    BLR         3  T-M 4y&o    1200.0
                  232      B18859    BLR         3  T-M 4y&o    1200.0
                  232      B18860    BLR         3  T-M 4y&o    1200.0
                  232      B18861    BLR         3  T-M 4y&o    1200.0
                  232      B18862    BLR         3  T-M 4y&o    1200.0
                  232      B18863    BLR         3  T-M 4y&o    1200.0
                  232      B18864    BLR         3  T-M 4y&o    1200.0
                  232      B18865    BLR         3  T-M 4y&o    1200.0
2016-01-29 BW15   156      B38181    BLR         3    T-4y&o    1200.0
                  156      B38182    BLR         3    T-4y&o    1200.0
                  156      B38183    BLR         3    T-4y&o    1200.0
                  156      B38184    BLR         3    T-4y&o    1200.0
                  156      B38185    BLR         3    T-4y&o    1200.0
                  156      B38186    BLR         3    T-4y&o    1200.0
                  156      B38187    BLR         3    T-4y&o    1200.0
                  156      B38188    BLR         3    T-4y&o    1200.0
                  156      B38189    BLR         3    T-4y&o    1200.0
2012-10-28 P12    28        P9223    PUN        10        IV    1200.0
                  28        P9224    PUN        10        IV    1200.0
                  28        P9225    PUN        10        IV    1200.0
                  28        P9226    PUN        10        IV    1200.0
                  28        P9227    PUN        10        IV    1200.0
                  28        P9228    PUN        10        IV    1200.0
                  28        P9229    PUN        10        IV    1200.0
                  28        P9230    PUN        10        IV    1200.0
                  28        P9231    PUN        10        IV    1200.0
                  28        P9232    PUN        10        IV    1200.0
                  28        P9233    PUN        10         I    1200.0
                  28        P9234    PUN        10         I    1200.0
                  28        P9235    PUN        10         I    1200.0
                  28        P9236    PUN        10         I    1200.0
                  28        P9237    PUN        10         I    1200.0
                  28        P9238    PUN        10       III    1200.0

                                         Horse  Age           Jockey  \
Date       Season Race No
2008-06-01 BS08   43             BOURBON KING     4      Y S SRINATH
                  43          SOUTHERN EMPIRE     5        B PRAKASH
                  43         SPLENDID SURPRISE    4    SURAJ NARREDU
                  43                LIONHEART     7  S CHANDRASHEKAR
                  43             CORAL GABLES     8       K P G APPU
                  43           ARABIAN KNIGHT     4    Ms LISA JONES
                  43             DIEGO RIVERA     5        M NARREDU
                  43           RHAPSIDION SNOW    5      WAYNE SMITH
                  43           KHALEELS PRIDE     6       CH K CHARY
2012-03-03 BW11   232                  ATTILA     6        B PRAKASH
                  232             SPRINT STAR     6    SURAJ NARREDU
                  232               SUCCESSOR     7      DAVID ALLAN
                  232          ANCIENT WONDER     6     MARTIN DWYER
                  232                 BESPOKE     5     NEERAJ RAWAL
                  232      BEAUTIFUL STRANGER     5      P S CHOUHAN
                  232       RARE AND PRECIOUS     7     VINOD SHINDE
                  232           OPTIMUS PRIME     6           S JOHN
                  232            SILKEN TOUCH     4  ANTHONY CRASTUS
                  232               DANDIFIED     4         C ALFORD
                  232           KOHINOOR WISH     5       C HENRIQUE
                  232           WINDSOR MANOR     4     IMRAN CHISTY
                  232            FOREST FLAIR     6        C D HAYES
                  232            SECRET PUNCH     4      Y S SRINATH
                  232                 VALAHAK     5       B L PASWAN
                  232           HURRICANE BAY     7           HARISH
2016-01-29 BW15   156                   NESTO     5     A IMRAN KHAN
                  156             SMILE STONE     6    SURAJ NARREDU
                  156               PENTAGRAM     5      P S CHOUHAN
                  156          CHUL BUL PANDY     8    AHSAN QURESHI
                  156          LIGHT OF MAGIC     4        A SANDESH
                  156                MANDARIN     5     VINOD SHINDE
                  156          EMPEROR CRUISE     5      IRVAN SINGH
                  156           SHIVALIK STAR     7           S JOHN
                  156            IM DIFFERENT     6     IMRAN CHISTY
2012-10-28 P12    28                   ZIDAAN     3         P TREVOR
                  28                JOSEPHINE     4        A SANDESH
                  28                FOLLOW ME     4     KAVRAJ SINGH
                  28                   SERENA     3         S ZERVAN
                  28        WIND OF THE NORTH     3   DASHRATH SINGH
                  28                   PLAYER     4           PRASAD
                  28                  BE COOL     4      M A ROUSHAN
                  28                  PTOLEMY     8           AKSHAY
                  28                 SPEEDING     3    AMYN MERCHANT
                  28                     ZEKI     4  SHRIKANT KAMBLE
                  28              DOVERS HILL     4       C RAJENDRA
                  28                  YUVILLE     4     IMRAN CHISTY
                  28             SEA TREASURE     6           AKSHAY
                  28         SAINTS N SINNERS     6        A SANDESH
                  28        MOUNTAIN REGIMENT     4    TUSHAR NEMANE
                  28          VICTORIOUS MARCH    3        A SANDESH

                                      Trainer    Wt  Dr Sh  Result     LBW  \
Date       Season Race No
2008-06-01 BS08   43              S GANAPATHY  59.5   2  A       1    0.00
                  43              S GANAPATHY  61.0   5  A       2    1.50
                  43               M P MAHESH  57.5   4  A       3    5.25
                  43             SHARAT KUMAR  56.0   8  A       4    5.25
                  43                L D SILVA  54.5   1  A       5    5.25
                  43             J S DHARIWAL  57.5   7  A       6    9.00
                  43                 P SHROFF  59.0   3  A       7    9.00
                  43            S PADMANABHAN  54.5   6  A       8    9.00
                  43                L D SILVA  54.5   9  A       0  100.00
2012-03-03 BW11   232                P SHROFF  59.0   3  A       1    0.00
                  232               S NARREDU  59.0   7  A       2    0.50
                  232           NEIL DARASHAH  59.0   6  A       3    0.50
                  232      DAMODARAN D PILLAI  59.0   2  A       4    1.25
                  232                P SHROFF  57.5   9  A       5    1.75
                  232                S S SHAH  59.0  15  A       6    1.75
                  232            B PRITHVIRAJ  59.0   1  A       7    4.50
                  232       ARJUN MANGALORKAR  59.0  16  A       8    5.00
                  232          S S ATTAOLLAHI  55.0  10  A       9    6.00
                  232             VIJAY SINGH  56.5   4  A      10    6.50
                  232           ANUPAM SHARMA  59.0  14  A      11    8.75
                  232         M SATYANARAYANA  55.0  12  A      12    8.75
                  232       KARTHIK GANAPATHY  59.0   5  A      13   10.25
                  232            F SIRAJUDDIN  56.5  13  A      14   11.75
                  232           IRFAN GHATALA  59.0  11  A      15   13.25
                  232         KISHORE C V G K  59.0   8  A      16   17.00
2016-01-29 BW15   156          PRASANNA KUMAR  59.0   6  A       1    0.00
                  156            SHARAT KUMAR  59.0   1  A       2    1.50
                  156          S S ATTAOLLAHI  59.0   8  A       3    4.50
                  156           IRFAN GHATALA  59.0   2  A       4    6.25
                  156             S GANAPATHY  55.0   5  A       5    7.25
                  156       ARAVIND GANAPATHY  59.0   9  A       6    8.00
                  156            SHARAT KUMAR  59.0   3  A       7    9.25
                  156       ARJUN MANGALORKAR  59.0   7  A       8   12.25
                  156          PRASANNA KUMAR  59.0   4  A       9   12.25
2012-10-28 P12    28            ALTAF HUSSAIN  54.0   2  A       1    0.00
                  28               M K JADHAV  55.5   3  A       2    2.50
                  28       MAGANSINGH P JODHA  58.5   6  A       3    5.50
                  28         DALLAS TODYWALLA  59.0  10  A       4    7.50
                  28                H J ANTIA  55.5   7  A       5    8.00
                  28               AMJAD KHAN  54.0   5  S       6    8.50
                  28             S K SUNDERJI  49.5   4  A       7    9.50
                  28                JANARDHAN  51.5   8  S       8   11.50
                  28         ALTAMASH A AHMED  54.0   1  A       9   12.00
                  28           NARENDRA LAGAD  51.5   9  A      10   12.00
                  28         DALLAS TODYWALLA  57.0   4  A       1    0.00
                  28            IMTIAZ A SAIT  55.0   3  A       2    1.50
                  28                H J ANTIA  53.5   1  A       3    1.50
                  28          REHANULLAH KHAN  57.0   2  A       4    2.00
                  28                H J ANTIA  59.0   5  A       5    4.25
                  28          REHANULLAH KHAN  56.5   6  A       1    0.00

                            Sr #  Rtg  Penalty  Time in S  Odds combined_data  \
Date       Season Race No
2008-06-01 BS08   43         417    0        0          0     0        (4, 1)
                  43         418    0        0          0     0        (5, 2)
                  43         419    0        0          0     0        (4, 3)
                  43         420    0        0          0     0        (7, 4)
                  43         421    0        0          0     0        (8, 5)
                  43         422    0        0          0     0        (4, 6)
                  43         423    0        0          0     0        (5, 7)
                  43         424    0        0          0     0        (5, 8)
                  43         425    0        0          0     0        (6, 0)
2012-03-03 BW11   232      18850    0        0          0     0        (6, 1)
                  232      18851    0        0          0     0        (6, 2)
                  232      18852    0        0          0     0        (7, 3)
                  232      18853    0        0          0     0        (6, 4)
                  232      18854    0        0          0     0        (5, 5)
                  232      18855    0        0          0     0        (5, 6)
                  232      18856    0        0          0     0        (7, 7)
                  232      18857    0        0          0     0        (6, 8)
                  232      18858    0        0          0     0        (4, 9)
                  232      18859    0        0          0     0       (4, 10)
                  232      18860    0        0          0     0       (5, 11)
                  232      18861    0        0          0     0       (4, 12)
                  232      18862    0        0          0     0       (6, 13)
                  232      18863    0        0          0     0       (4, 14)
                  232      18864    0        0          0     0       (5, 15)
                  232      18865    0        0          0     0       (7, 16)
2016-01-29 BW15   156      38181    0        0          0     0        (5, 1)
                  156      38182    0        0          0     0        (6, 2)
                  156      38183    0        0          0     0        (5, 3)
                  156      38184    0        0          0     0        (8, 4)
                  156      38185    0        0          0     0        (4, 5)
                  156      38186    0        0          0     0        (5, 6)
                  156      38187    0        0          0     0        (5, 7)
                  156      38188    0        0          0     0        (7, 8)
                  156      38189    0        0          0     0        (6, 9)
2012-10-28 P12    28       66806    0        0          0     0        (3, 1)
                  28       66807    0        0          0     0        (4, 2)
                  28       66808    0        0          0     0        (4, 3)
                  28       66809    0        0          0     0        (3, 4)
                  28       66810    0        0          0     0        (3, 5)
                  28       66811    0        0          0     0        (4, 6)
                  28       66812    0        0          0     0        (4, 7)
                  28       66813    0        0          0     0        (8, 8)
                  28       66814    0        0          0     0        (3, 9)
                  28       66815    0        0          0     0       (4, 10)
                  28       66816    0        0          0     0        (4, 1)
                  28       66817    0        0          0     0        (4, 2)
                  28       66818    0        0          0     0        (6, 3)
                  28       66819    0        0          0     0        (6, 4)
                  28       66820    0        0          0     0        (4, 5)
                  28       66821    0        0          0     0        (3, 1)

                           LBW2  RunNo. Venue Name
Date       Season Race No
2008-06-01 BS08   43        0.0      -1        BLR
                  43        1.5      -1        BLR
                  43        0.0      -1        BLR
                  43        0.0      -1        BLR
                  43        0.0      -1        BLR
                  43        0.0      -1        BLR
                  43        0.0      -1        BLR
                  43        0.0      -1        BLR
                  43        0.0      -1        BLR
2012-03-03 BW11   232       0.0      -1        BLR
                  232       0.5      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
                  232       0.0      -1        BLR
2016-01-29 BW15   156       0.0      -1        BLR
                  156       1.5      -1        BLR
                  156       0.0      -1        BLR
                  156       0.0      -1        BLR
                  156       0.0      -1        BLR
                  156       0.0      -1        BLR
                  156       0.0      -1        BLR
                  156       0.0      -1        BLR
                  156       0.0      -1        BLR
2012-10-28 P12    28        0.0      -1        PUN
                  28        2.5      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        1.5      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN
                  28        0.0      -1        PUN

In [10]:
for i in qualified_horses['Sr #']:
    print(i)
    df.loc[i-1,'RunNo.'] = 0

423
18860
38186
66872
68594
81803
104618
111268
113447
169463
193925
195124
211185
217696

In [11]:
races_Q_horses = pd.merge(qualified_horses[['Horse']], df, on=["Horse"])
races_Q_horses

,Horse,C-Sr#,Date,Season,Centre,Venue ID,Class,Distance,Race No,Age,Jockey,Trainer,Wt,Dr,Sh,Result,LBW,Sr #,Rtg,Penalty,Time in S,Odds,combined_data,LBW2,RunNo.,Venue Name
0,DIEGO RIVERA,B423,2008-06-01,BS08,BLR,3,T-M 4y&o,1600.0,43,5,M NARREDU,P SHROFF,59.0,3,A,7,9.00,423,0,0,0,0,"(5, 7)",0.0,0,BLR
1,DIEGO RIVERA,B1089,2008-06-29,BS08,BLR,3,4y&o,1800.0,111,5,M NARREDU,P SHROFF,59.0,14,A,3,0.75,1089,0,0,0,0,"(5, 3)",0.0,-1,BLR
2,DIEGO RIVERA,B1556,2008-07-20,BS08,BLR,3,4y,1400.0,159,5,M NARREDU,P SHROFF,60.0,4,A,2,3.50,1556,0,0,0,0,"(5, 2)",3.5,-1,BLR
3,DIEGO RIVERA,B5109,2009-05-31,BS09,BLR,3,4y&o,1600.0,45,6,M NARREDU,P SHROFF,58.0,2,A,1,0.00,5109,0,0,0,0,"(6, 1)",0.0,-1,BLR
4,DIEGO RIVERA,B5517,2009-06-20,BS09,BLR,3,4y&o,1800.0,85,6,M NARREDU,P SHROFF,60.0,5,A,1,0.00,5517,0,0,0,0,"(6, 1)",0.0,-1,BLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,MOUNTAIN REGIMENT,M3642,2012-04-29,M11,MUM,2,II,1000.0,377,4,S ZERVAN,H J ANTIA,54.0,4,A,1,0.00,215771,0,0,0,0,"(4, 1)",0.0,-1,MUM
343,MOUNTAIN REGIMENT,M3869,2012-11-25,M12,MUM,2,I,1200.0,21,4,D K ASHISH,H J ANTIA,52.0,8,A,7,6.75,215998,0,0,0,0,"(4, 7)",0.0,-1,MUM
344,MOUNTAIN REGIMENT,M4300,2012-12-16,M12,MUM,2,TM-3y,1200.0,68,4,AMYN MERCHANT,H J ANTIA,51.0,5,A,9,5.50,216429,0,0,0,0,"(4, 9)",0.0,-1,MUM
345,MOUNTAIN REGIMENT,M4637,2012-12-30,M12,MUM,2,I,1000.0,103,4,SURAJ NARREDU,H J ANTIA,55.0,2,A,4,1.00,216766,0,0,0,0,"(4, 4)",0.0,-1,MUM
346,MOUNTAIN REGIMENT,M5567,2013-02-10,M12,MUM,2,TM-4y&o,1200.0,189,5,KISHORE KADAM,H J ANTIA,59.0,4,A,11,9.00,217696,0,0,0,0,"(5, 11)",0.0,0,MUM

In [12]:
zerothindex = races_Q_horses.index[races_Q_horses['RunNo.'] == 0].tolist()
removed_horses = []
print(zerothindex)
for i in zerothindex:
    if (i+1 in races_Q_horses.index):
        if (races_Q_horses.loc[i+1, 'Horse'] == races_Q_horses.loc[i, 'Horse']):
            races_Q_horses.loc[i+1, 'RunNo.'] = 1

[0, 11, 48, 66, 79, 118, 144, 168, 183, 205, 271, 310, 319, 346]

In [13]:
TrackedRuns = races_Q_horses.loc[races_Q_horses['RunNo.']>=0]
TrackedRuns.set_index(['Horse', 'Sr #'], inplace = True)
TrackedRuns

                             C-Sr#        Date Season Centre  Venue ID  \
Horse              Sr #
DIEGO RIVERA       423        B423  2008-06-01   BS08    BLR         3
                   1089      B1089  2008-06-29   BS08    BLR         3
KOHINOOR WISH      18860    B18860  2012-03-03   BW11    BLR         3
                   18966    B18966  2012-03-04   BW11    BLR         3
MANDARIN           38186    B38186  2016-01-29   BW15    BLR         3
                   39809    B39809  2016-05-29   BS16    BLR         3
MACCHUPICCHU       66872     P9289  2012-10-28    P12    PUN        10
                   212416     M287  2011-11-27    M11    MUM         2
WORLD HOLD ON      68594    P11011  2013-09-28    P13    PUN        10
                   69469    P11886  2013-07-24    P14    PUN        10
ICELAND            81803      H728  2012-08-20   HM12    HYD        11
                   82373     H1298  2012-09-17   HM12    HYD        11
COMMANDING BOY     104618   H23546  2017-02-20   HW16    HYD        11
                   104874   H23802  2017-03-02   HW16    HYD        11
PRINCESS OF DREAMS 111268   H30196  2018-10-02   HM18    HYD        11
                   111603   H30531  2018-10-24   HM18    HYD        11
TREASURE STRIKER   113447   H32375  2019-02-02   HW18    HYD        11
                   114176   H33104  2019-03-03   HW18    HYD        11
RECORD TIME        169463   My6130  2009-10-17  MyR09    MYS         8
                   169766   My6433  2009-11-11  MyW09    MYS         8
CARISA             193925  My30592  2015-09-11  MyR15    MYS         8
                   194146  My30813  2015-09-18  MyR15    MYS         8
ALWAYS LOVE        195124  My31791  2015-11-17  MyW15    MYS         8
                   195502  My32169  2015-12-09  MyW15    MYS         8
TRULY EPIC         211185  My47852  2020-03-01  MyW19    MYS         8
                   236517   M24388  2019-01-12    M18    MUM         2
MOUNTAIN REGIMENT  217696    M5567  2013-02-10    M12    MUM         2

                                Class  Distance  Race No  Age  \
Horse              Sr #
DIEGO RIVERA       423       T-M 4y&o    1600.0       43    5
                   1089          4y&o    1800.0      111    5
KOHINOOR WISH      18860     T-M 4y&o    1200.0      232    5
                   18966     T-M 4y&o    1600.0      241    5
MANDARIN           38186       T-4y&o    1200.0      156    5
                   39809         4y&o    1200.0       44    5
MACCHUPICCHU       66872       T-4y&o    2000.0       28    5
                   212416       TM-3y    1600.0       35    4
WORLD HOLD ON      68594       T-4y&o    1400.0       21    5
                   69469            I    1400.0        1    6
ICELAND            81803      IV 4y&o    1400.0        8    5
                   82373      IV 5y&o    1200.0       16    5
COMMANDING BOY     104618     II 4y&o    1400.0       32    5
                   104874     II 5y&o    1200.0       35    5
PRINCESS OF DREAMS 111268     IV 4y&o    1400.0       22    5
                   111603     IV 5y&o    1400.0       26    5
TREASURE STRIKER   113447      T-4y&o    1400.0       26    5
                   114176  T III 5y&o    1600.0       34    5
RECORD TIME        169463      V 4y&o    1400.0       19    5
                   169766           V    1200.0        2    5
CARISA             193925     II 4y&o    1600.0        8    5
                   194146     II 4y&o    1200.0       10    5
ALWAYS LOVE        195124     IV 4y&o    1400.0        1    5
                   195502          IV    1600.0        5    5
TRULY EPIC         211185      T-4y&o    1600.0       16    5
                   236517         III    1600.0       92    4
MOUNTAIN REGIMENT  217696     TM-4y&o    1200.0      189    5

                                      Jockey            Trainer    Wt  Dr Sh  \
Horse              Sr #
DIEGO RIVERA       423             M NARREDU           P SHROFF  59.0   3  A
                   1089            M NARREDU           P SHROFF  59.0  14  A
KOHINOOR WISH      18860          C HENRIQUE      ANUPAM SHARMA  59.0  14  A
                   18966          C HENRIQUE      ANUPAM SHARMA  59.0   7  A
MANDARIN           38186        VINOD SHINDE  ARAVIND GANAPATHY  59.0   9  A
                   39809       BHAWANI SINGH  ARAVIND GANAPATHY  56.5   1  A
MACCHUPICCHU       66872           B PRAKASH           P SHROFF  59.0   9  A
                   212416          B PRAKASH           P SHROFF  58.0   2  A
WORLD HOLD ON      68594           A SANDESH   DALLAS TODYWALLA  59.0   7  A
                   69469         J E PEREIRA   DALLAS TODYWALLA  59.0   9  A
ICELAND            81803       KHURSHAD ALAM    M SATYANARAYANA  59.0   7  S
                   82373       KHURSHAD ALAM    M SATYANARAYANA  60.5  15  S
COMMANDING BOY     104618            N RAWAL  K S V PRASAD RAJU  59.0   2  A
                   104874            N RAWAL  K S V PRASAD RAJU  59.0   4  A
PRINCESS OF DREAMS 111268        Kiran Naidu            D Netto  59.0  14  A
                   111603        Kiran Naidu            D Netto  58.0   3  A
TREASURE STRIKER   113447        A A Vikrant   N Ravinder Singh  59.0   3  A
                   114176       A Imran Khan   N Ravinder Singh  60.0  12  A
RECORD TIME        169463  S R SANTOSH KUMAR             RAKESH  59.0  11  S
                   169766           J PASWAN             RAKESH  54.5   8  A
CARISA             193925     M RAJESH KUMAR     VIKRAM APPACHU  59.0   7  A
                   194146     M RAJESH KUMAR     VIKRAM APPACHU  58.5   2  A
ALWAYS LOVE        195124       ANIL BAANDAL       C D MONNAPPA  59.0   8  S
                   195502        NITIN SINGH       C D MONNAPPA  55.0   4  A
TRULY EPIC         211185       A Imran Khan      Imtiaz A Sait  59.0   7  A
                   236517          C S Jodha      Imtiaz A Sait  55.5   2  A
MOUNTAIN REGIMENT  217696      KISHORE KADAM          H J ANTIA  59.0   4  A

                           Result    LBW  Rtg  Penalty  Time in S  Odds  \
Horse              Sr #
DIEGO RIVERA       423          7   9.00    0        0          0     0
                   1089         3   0.75    0        0          0     0
KOHINOOR WISH      18860       11   8.75    0        0          0     0
                   18966        4   4.25    0        0          0     0
MANDARIN           38186        6   8.00    0        0          0     0
                   39809        7  10.25    0        0          0     0
MACCHUPICCHU       66872       10   9.00    0        0          0     0
                   212416       4   2.50    0        0          0     0
WORLD HOLD ON      68594        6   8.25    0        0          0     0
                   69469       11  12.25    0        0          0     0
ICELAND            81803        7   8.00    0        0          0     0
                   82373       11   9.25    0        0          0     0
COMMANDING BOY     104618       6   8.25    0        0          0     0
                   104874      10  13.25    0        0          0     0
PRINCESS OF DREAMS 111268      11   8.25    0        0          0     0
                   111603       1   0.00    0        0          0     0
TREASURE STRIKER   113447      10   9.00    0        0          0     0
                   114176      11  12.75    0        0          0     0
RECORD TIME        169463       7   8.50    0        0          0     0
                   169766       3   2.75    0        0          0     0
CARISA             193925       3   9.00    0        0          0     0
                   194146       8   6.75    0        0          0     0
ALWAYS LOVE        195124       8   8.75    0        0          0     0
                   195502       1   0.00    0        0          0     0
TRULY EPIC         211185       9   9.00    0        0          0     0
                   236517       1   0.00    0        0          0     0
MOUNTAIN REGIMENT  217696      11   9.00    0        0          0     0

                          combined_data  LBW2  RunNo. Venue Name
Horse              Sr #
DIEGO RIVERA       423           (5, 7)   0.0       0        BLR
                   1089          (5, 3)   0.0       1        BLR
KOHINOOR WISH      18860        (5, 11)   0.0       0        BLR
                   18966         (5, 4)   0.0       1        BLR
MANDARIN           38186         (5, 6)   0.0       0        BLR
                   39809         (5, 7)   0.0       1        BLR
MACCHUPICCHU       66872        (5, 10)   0.0       0        PUN
                   212416        (4, 4)   0.0       1        MUM
WORLD HOLD ON      68594         (5, 6)   0.0       0        PUN
                   69469        (6, 11)   0.0       1        PUN
ICELAND            81803         (5, 7)   0.0       0        HYD
                   82373        (5, 11)   0.0       1        HYD
COMMANDING BOY     104618        (5, 6)   0.0       0        HYD
                   104874       (5, 10)   0.0       1        HYD
PRINCESS OF DREAMS 111268       (5, 11)   0.0       0        HYD
                   111603        (5, 1)   0.0       1        HYD
TREASURE STRIKER   113447       (5, 10)   0.0       0        HYD
                   114176       (5, 11)   0.0       1        HYD
RECORD TIME        169463        (5, 7)   0.0       0        MYS
                   169766        (5, 3)   0.0       1        MYS
CARISA             193925        (5, 3)   0.0       0        MYS
                   194146        (5, 8)   0.0       1        MYS
ALWAYS LOVE        195124        (5, 8)   0.0       0        MYS
                   195502        (5, 1)   0.0       1        MYS
TRULY EPIC         211185        (5, 9)   0.0       0        MYS
                   236517        (4, 1)   0.0       1        MUM
MOUNTAIN REGIMENT  217696       (5, 11)   0.0       0        MUM

In [14]:
qualified_horse_summary = TrackedRuns.loc[TrackedRuns['RunNo.']==1].reset_index()
qualified_horse_summary = qualified_horse_summary[['Horse', 'Distance', 'Jockey', 'Dr', 'Result']]
qualified_horse_summary.index = np.arange(1, len(qualified_horse_summary) + 1)
qualified_horse_summary

                 Horse  Distance          Jockey  Dr  Result
1        DIEGO RIVERA     1800.0       M NARREDU  14       3
2       KOHINOOR WISH     1600.0      C HENRIQUE   7       4
3            MANDARIN     1200.0   BHAWANI SINGH   1       7
4        MACCHUPICCHU     1600.0       B PRAKASH   2       4
5       WORLD HOLD ON     1400.0     J E PEREIRA   9      11
6             ICELAND     1200.0   KHURSHAD ALAM  15      11
7      COMMANDING BOY     1200.0         N RAWAL   4      10
8   PRINCESS OF DREAMS    1400.0     Kiran Naidu   3       1
9    TREASURE STRIKER     1600.0    A Imran Khan  12      11
10        RECORD TIME     1200.0        J PASWAN   8       3
11             CARISA     1200.0  M RAJESH KUMAR   2       8
12        ALWAYS LOVE     1600.0     NITIN SINGH   4       1
13         TRULY EPIC     1600.0       C S Jodha   2       1

In [15]:
[x for x in data['Jockey'].unique() if type(x)!=str]

[]